.nice-dropdown-date{
  display: block;

  .form-inline {
    display: flex;
  }

  .nice-dropdown-date-day,
  .nice-dropdown-date-month,
  .nice-dropdown-date-year {
    float: left;
    position: relative;

    &:after{
      content: " ";
      position: absolute;
      top: 50%;
      right: 10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      margin-top: -2px;
      border-color: $nice-border-color transparent transparent transparent;
      z-index: 3;
    }
  }

  .nice-dropdown-date-day,
  .nice-dropdown-date-month {
    margin-right: 10px;
  }

  .nice-dropdown-date-day{
    width: 30%;
  }

  .nice-dropdown-date-month{
    width: 40%;
  }

  .nice-dropdown-date-year{
    width: 30%;
  }

  select {
    width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border-radius: $nice-border-radius !important;
    border: 1px solid $nice-border-color;
    position: relative;
    z-index: 2;
    background: transparent;

    &:disabled{
      cursor: not-allowed;
      background: $nice-dropdown-disabled-bg !important;
      border-color: $nice-dropdown-disabled-border !important;
    }

    &:hover{
      //background: $nice-dropdown-hover-bg;
      border-color: $nice-dropdown-hover-border;
      color: $nice-dropdown-hover-color;
    }

    &:active, &:focus{
      //background: $nice-focus-bg !important;
      border-color: $nice-focus-border !important;
      color: $nice-focus-color !important;
      -webkit-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
    }
  }
}