<div class="nice-dropdown-date" ng-form="dropdownDateForm" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="row">
        <div class="col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <label class="nice">{{ title }}<span ng-if="required">*</span></label>
        </div>

        <div class="col-sm-8"
             ng-class="{
                fieldWidth: fieldWidth,
                'has-warning': !isDisabled && dropdownDateForm.$invalid && dropdownDateForm.$dirty,
                'disabled': isDisabled
            }">
            <div class="form-inline">
                <div class="form-group nice-dropdown-date-day">
                    <select
                        ng-model="dateFields.day"
                        class="form-control"
                        ng-options="day for day in days"
                        ng-change="checkDate()"
                        ng-disabled="isDisabled"
                        required="true"
                    ></select>
                </div>

                <div class="form-group nice-dropdown-date-month">
                    <select
                        ng-model="dateFields.month"
                        class="form-control"
                        ng-options="month.value as month.name for month in months"
                        ng-change="checkDate()"
                        ng-disabled="isDisabled"
                        required="true"
                    ></select>
                </div>

                <div class="form-group nice-dropdown-date-year">
                    <select
                        ng-model="dateFields.year"
                        class="form-control"
                        ng-options="year for year in years"
                        ng-change="checkDate()"
                        ng-disabled="isDisabled"
                        required="true"
                    ></select>
                </div>
            </div>
        </div>
    </div>
</div>

