<div class="nice-datetime-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">

    <div class="nice-dtp-background" ng-click="closeDtp(true)" ng-if="isOpen"></div>

    <div class="row">
        <div class="col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <label class="nice">{{ title }}<span ng-if="required">*</span></label>
        </div>

        <div class="col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimePicker"></div>

            <div class="input-group" id="dropdown{{randNum}}">
                <input type="text" class="form-control" value="{{value}}" ng-click="openDtp()">
                <span class="input-group-addon" ng-click="openDtp()">
                    <i class="fa" ng-class="{'fa-clock-o': date=='false', 'fa-calendar': date!='false'}"></i>
                </span>
            </div>

            <div class="nice-datetime" ng-if="!isOpen">
                <div class="header">
                    {{ months }}
                    <select
                        class="month-picker"
                        ng-model="innerDate.month"
                        ng-change="handleChange()"
                        ng-options="month.value as month.name for month in months">
                    </select>
                    <select 
                        class="year-picker"
                        ng-model="innerDate.year"
                        ng-change="handleChange()"
                        ng-options="year for year in years">
                    </select>
                    <div class="navigation">
                        <div class="navigation-back"></div>
                        <div class="navigation-today"></div>
                        <div class="navigation-next"></div>
                    </div>
                </div>
                <div class="date-picker">

                </div>
                <div class="time-picker">

                </div>
            </div>
        </div>
    </div>
</div>

