<aside class="sidebar" ng-class="{ 'open': isOpen }">
    <a href="#" class="logo">
        <img src="/assets/logo-transparent-white.png" alt="Nice elements" />
    </a>
    <div class="version">v{{ niceService.version }}</div>
    <ul class="links">
        <li ng-repeat="route in routes" ng-if="route.meta" ng-class="{ 'active': location == route.originalPath }">
            <a ng-href="#{{ route.originalPath }}" href>{{ route.meta.name }}</a>
        </li>
    </ul>
    <button class="btn btn-icon btn-primary sidebar-handle" ng-click="toggle()">
        <nice-icon icon="icon-list"></nice-icon>
    </button>
</aside>
<div class="sidebar-overlay" ng-if="isOpen" ng-click="close()"></div>