<div class="nice-component nice-label" ng-class="{ 'margin-bottom-0' : noMargin, 'nice-component-inline': isInline }">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title title="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-xs-8'">
            <p class="value">{{ value }}</p>
        </div>
    </div>
</div>