<div class="nice-component nice-choice" ng-class="{ 'margin-bottom-0' : noMargin, 'nice-component-inline': isInline }" ng-form="formChoice">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <ul class="list-unstyled" ng-class="{ 'disabled': isDisabled }">
                <li ng-repeat="item in internalList" ng-class="{ 'selected' : isItemSelected(item) }" ng-click="toggle(item)">
                    <div class="choice-checkbox" ng-class="{'circle' : !multiple }"><i class="fa fa-check"></i></div>
                    <div class="choice-label">{{ getLabel(item) }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>