<div class="nice-component nice-choice" ng-class="{ 'margin-bottom-0' : noMargin, 'nice-component-inline': isInline }" ng-form="formChoice">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title title="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <ul class="list-unstyled" ng-class="{ 'disabled': isDisabled }">
                <li ng-repeat="item in internalList" ng-class="{ 'selected' : isItemSelected(item) }" ng-click="toggle(item)">
                    <button class="choice-checkbox" ng-class="{'circle' : !multiple }" ng-disabled="isDisabled">
                        <nice-icon ng-if="multiple" icon="icon-check"></nice-icon>
                        <div ng-if="!multiple" class="multiple-circle"></div>
                    </button>
                    <div ng-transclude class="choice-label">{{ getLabel(item) }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>