.nice-quantity{
  $nice-quantity-height: 35px;
  width: 100%;
  margin-bottom: 10px;

  .btn {
    height: $nice-quantity-height;
    width: $nice-quantity-height;
    line-height: $nice-quantity-height - 2;
    padding: 0;
    border: 1px solid var(--nice-border-color);
  }

  .btn-left{
    border-bottom-left-radius: var(--nice-border-color-radius);
    border-top-left-radius: var(--nice-border-color-radius);
    width: 45px;
  }

  .btn-right{
    border-bottom-right-radius: var(--nice-border-color-radius);
    border-top-right-radius: var(--nice-border-color-radius);
    width: 45px;
  }

  input {
    text-align: center;
    &:focus {
      outline: 0 none;
    }
  }

  .value{
    line-height: $nice-quantity-height - 2;
    padding: 0px 10px;
    text-align: center;
    width: 100%;
    display: table;
    // background: #f1f1f1;
    border: 0 none;
    border-top: 1px solid var(--nice-border-color);
    border-bottom: 1px solid var(--nice-border-color);
  }
}