.nice-quantity {
  $nice-quantity-height: 35px;
  width: 100%;

  .input-group {
    display: flex;
  }

  .form-control {
    border-left: 0 none !important;
    border-right: 0 none !important;
  }

  .btn {
    &:focus {
      outline: 0 none;
    }
  }

  .btn-left {
    border-bottom-left-radius: $nice-border-radius;
    border-top-left-radius: $nice-border-radius;
    border-right: 0 none;
  }

  .btn-right {
    border-bottom-right-radius: $nice-border-radius;
    border-top-right-radius: $nice-border-radius;
    border-left: 0 none;
  }

  input {
    text-align: center;
    flex-grow: 1;

    &:focus {
      outline: 0 none;
    }
  }

  .value {
    line-height: $nice-quantity-height - 2;
    padding: 0px 10px;
    text-align: center;
    width: 100%;
    display: table;
    // background: #f1f1f1;
    border: 0 none;
    border-top: 1px solid $nice-border-color;
    border-bottom: 1px solid $nice-border-color;
  }
}