<ng-form class="nice-component nice-input nice-search" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline}" name="form">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title title="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <div class="input-group" ng-class="{ 'disabled': isDisabled }">
                <input class="form-control" type="text" id="{{ id }}" ng-model="modelString" ng-keypress="keypress($event)" placeholder="{{ placeholder }}" ng-disabled="isDisabled" ng-change="updateSearch()" ng-required="required" tabindex="{{ tabIndex }}">

                <span class="input-group-addon clickable" ng-click="search()" ng-if="!model">
                    <!-- <i ng-show="!loading" class="fa fa-search"></i>
                    <i ng-show="loading" class="fa fa-refresh fa-spin"></i> -->
                    <!-- <nice-icon ng-show="loading" icon="icon-loader" class="d-block nice-animation-spin"></nice-icon> -->
                    <nice-icon ng-show="!loading" icon="icon-search"></nice-icon>
                    <nice-loader ng-if="loading"></nice-loader>
                </span>

                <span class="input-group-addon clickable" ng-click="remove()" ng-if="model">
                    <!-- <i ng-show="!loading" class="fa fa-remove"></i> -->
                    <nice-icon ng-show="!loading" icon="icon-x"></nice-icon>
                </span>
            </div>
        </div>
    </div>

    <div class="row" ng-if="noResults || results.length">
        <div ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title"></div>
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <div class="nice-dropdown-empty" ng-if="noResults">
                <div class="nice-search-row" translate translate-context="Nice">No results found.</div>
            </div>

            <div class="nice-dropdown" ng-if="results.length">
                <div ng-repeat="result in results" class="nice-search-row" ng-class="{'active': selectedIndex == $index}" ng-click="selectRow(result)">
                    <span class="text-bold">{{ result[keyForInputLabel] }}</span>
                    <!--<div ng-transclude></div>-->
                </div>
            </div>
        </div>
    </div>

    <!--Here is injected dropdown html if passed and results present and open.-->
    <!--<div ng-transclude></div>-->
</ng-form>