<ng-form class="nice-component nice-input nice-search2" ng-class="{ 'margin-bottom-0' : noMargin, 'nice-component-inline': isInline }" name="form">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title title="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]" click-outside="close()">
            <div class="nice-search-button input-group" ng-class="{ 'disabled': isDisabled, 'has-warning': !isDisabled && form.$invalid && form.$dirty, 'has-success': !isDisabled && form.$valid && form.$dirty}">
                <input class="form-control" type="text" id="{{ id }}" ng-model="model" placeholder="{{ placeholder }}" ng-disabled="isDisabled" ng-change="updateSearch()" ng-focus="onFocus()" tabindex="{{ tabIndex }}">

                <span class="input-group-addon clickable" ng-click="onFocus()">
                    <nice-icon ng-show="!loading" icon="icon-search"></nice-icon>
                    <!-- <nice-icon ng-show="loading" icon="icon-loader" class="d-block nice-animation-spin"></nice-icon> -->
                    <nice-loader ng-if="loading"></nice-loader>
                    <!-- <i ng-show="!loading" class="fa fa-search"></i>
                    <i ng-show="loading" class="fa fa-refresh fa-spin"></i> -->
                </span>
            </div>

            <div class="nice-search-dropdown-wrapper">
                <div class="nice-search-dropdown" ng-if="showDropdown && isOpen">
                    <div class="nice-search-row nice-search-row-loading" ng-if="loading && results.length == 0">
                        <nice-loader ng-if="loading"></nice-loader>
                    </div>

                    <div class="nice-search-row nice-search-row-empty" ng-if="!loading && results.length == 0" translate translate-context="Nice">No results found.</div>

                    <div ng-repeat="result in results" class="nice-search-row" ng-class="{'active': selectedIndex == $index}" ng-click="selectItem(result)">
                        <ng-transclude>{{ result[keyForInputLabel] }}</ng-transclude>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-form>