<ng-form class="nice-component nice-input nice-search2" ng-class="{'margin-bottom-0' : noMargin}" name="form">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}</div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]" click-outside="close()">
            <div class="input-group" ng-class="{ 'disabled': isDisabled, 'has-warning': !isDisabled && form.$invalid && form.$dirty, 'has-success': !isDisabled && form.$valid && form.$dirty}">
                <input
                    class="form-control"
                    type="text"
                    id="{{ id }}"
                    ng-model="model"
                    placeholder="{{ placeholder }}"
                    ng-disabled="isDisabled"
                    ng-change="updateSearch()"
                    ng-focus="onFocus()"
                    tabindex="{{ tabIndex }}"
                >

                <span class="input-group-addon clickable" ng-click="onFocus()">
                    <i ng-show="!loading" class="fa fa-search"></i>
                    <i ng-show="loading" class="fa fa-refresh fa-spin"></i>
                </span>

                <div class="nice-dropdown" ng-if="showDropdown && isOpen">
                    <div class="nice-search-row nice-search-row-loading" ng-if="loading && results.length == 0">
                      <nice-loader visible-when="!loading"></nice-loader>
                    </div>

                    <div class="nice-search-row nice-search-row-empty" ng-if="!loading && results.length == 0">No results found.</div>

                    <div ng-repeat="result in results" class="nice-search-row" ng-class="{'active': selectedIndex == $index}" ng-click="selectItem(result)">
                      <ng-transclude>{{ result[keyForInputLabel] }}</ng-transclude>
                    </div>
                </div>
            </div>
        </div>
      </div>
</ng-form>