.nice-input {
  color: var(--nice-font-color);
  display: block;

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $nice-input-placeholder-color;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $nice-input-placeholder-color;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $nice-input-placeholder-color;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $nice-input-placeholder-color;
  }

  :disabled::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $nice-input-disabled-bg;
  }

  :disabled:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $nice-input-disabled-bg;
  }

  :disabled::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $nice-input-disabled-bg;
  }

  :disabled:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $nice-input-disabled-bg;
  }

  textarea {
    border-right: 1px solid var(--nice-border-color) !important;
  }


  .form-group {
    margin-bottom: 0px;
  }

  .symbol {
    position: relative;
    display: table;
    border-collapse: separate;

    .form-control-feedback {
      left: 0;
      right: auto;
    }

    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      text-align: right;
    }
  }
}