<ng-form class="nice-component nice-input" ng-class="{ 'margin-bottom-0' : noMargin, 'nice-component-inline': isInline }" name="forma">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title text="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <div class="input-group" ng-class="{
                    'has-feedback': showValid && !hideValid,
                    'has-warning': !isDisabled && forma.$invalid && forma.$dirty && !hideValid,
                    'has-success': !isDisabled && forma.$valid && forma.$dirty && showValid,
                    'symbol': symbol,
                    'nice-disabled': isDisabled
                }">

                <textarea ng-if="textArea" class="form-control" ng-model="$parent.model" id="{{ id }}" tabindex="{{ tabIndex }}" placeholder="{{ placeholder }}" rows="{{textAreaLines}}" max="{{ max }}" min="{{ min }}" ng-minlength="minlength" ng-maxlength="maxlength" ng-required="required" ng-pattern="regexexp" ng-disabled="isDisabled"></textarea>
                <input ng-if="!textArea" class="form-control" type="{{ internalType }}" inputmode="{{ inputMode }}" ng-model="$parent.model" name="{{ name }}" id="{{ id }}" tabindex="{{ tabIndex }}" placeholder="{{ placeholder }}" max="{{ max }}" min="{{ min }}" ng-minlength="minlength" ng-maxlength="maxlength" ng-required="required" ng-keypress="keypress($event)" ng-pattern="regexexp" ng-disabled="isDisabled" />

                <div class="input-group-addon" ng-if="symbol">{{ symbol }}</div>
                <button class="input-group-btn" ng-if="multilanguageField" ng-click="openMultilanguage()">
                    <nice-icon icon="icon-translate"></nice-icon>
                    <div class="nice-input-addon-bubble" ng-if="numberOfLanguages > 0">{{ numberOfLanguages }}</div>
                </button>
                <button class="input-group-btn" ng-if="onClear" ng-click="onClear()">
                    <nice-icon icon="icon-x"></nice-icon>
                </button>
                <!--<span ng-if="!disabled && showValid && form.$valid && form.$dirty" class="glyphicon glyphicon-ok form-control-feedback feedback-valid" aria-hidden="true"></span>-->
                <!--<span ng-if="!disabled && !hideValid && form.$invalid && form.$dirty" class="glyphicon glyphicon-remove form-control-feedback feedback-invalid" aria-hidden="true"></span>-->
            </div>

            <div ng-if="forma.$error && forma.$dirty">
                <div class="error-message" ng-if="forma.$dirty && forma.$error.email" translate translate-context="Nice">Email is not valid.</div>
                <div class="error-message" ng-if="forma.$dirty && forma.$error.pattern">
                    <span ng-if="regexError">{{ regexError }}</span>
                    <span ng-if="!regexError" translate translate-context="Nice">This field requires a specific pattern.</span>
                </div>
                <div class="error-message" ng-if="forma.$error.minlength">
                    <translate translate-context="Nice">Your input is too short. It must contain at least</translate>&nbsp;{{ minlength }}&nbsp;<translate translate-context="Nice">characters</translate>.
                </div>
                <div class="error-message" ng-if="forma.$error.maxlength" translate translate-context="Nice">Your input is too long</div>
                <div class="error-message" ng-if="forma.$error.required" ng-if="forma.$dirty" translate translate-context="Nice">This field is required.</div>
                <div class="error-message" ng-if="forma.$error.unique" translate translate-context="Nice">This field must be unique.</div>
            </div>

            <!-- <pre>{{ forma | json }}</pre> -->
        </div>
    </div>
</ng-form>