.nice-input{
  color:black;
  display: block;

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $nice-input-placeholder-color;
//    opacity: 0.1;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $nice-input-placeholder-color;
//    opacity: 0.1;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $nice-input-placeholder-color;
//    opacity: 0.1;
  }

  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $nice-input-placeholder-color;
//    opacity: 0.1;
  }

  :disabled::-webkit-input-placeholder { /* WebKit browsers */
    color: $nice-input-disabled-bg;
  }

  :disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $nice-input-disabled-bg;
//    opacity:  0;
  }
  :disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $nice-input-disabled-bg;
//    opacity:  0;
  }
  :disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $nice-input-disabled-bg;
//    opacity:  0;
  }


  .form-group {
    margin-bottom: 0px;
  }

  .symbol{
    position: relative;
    display: table;
    border-collapse: separate;
    
    .form-control-feedback {
      left: 0;
      right: auto;
    }

    .form-control{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      text-align: right;
    }
  }
}