.nice-input {
  color: var(--nice-font-color);
  display: block;

  ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $nice-input-placeholder-color;
  }

  :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $nice-input-placeholder-color;
  }

  ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $nice-input-placeholder-color;
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $nice-input-placeholder-color;
  }

  :disabled::-webkit-input-placeholder {
    /* WebKit browsers */
    color: $nice-input-disabled-bg;
  }

  :disabled:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $nice-input-disabled-bg;
  }

  :disabled::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $nice-input-disabled-bg;
  }

  :disabled:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $nice-input-disabled-bg;
  }

  textarea {
    border-right: 1px solid var(--nice-border-color) !important;
  }


  .input-group {
    margin-bottom: 0px;
    width: 100%;
    display: flex;
  }


  .input-group-addon,
  .input-group-btn {
    flex-shrink: 0;
  }

  .input-group-btn {
    background: transparent;
    border: 1px solid var(--nice-border-color);
    border-left: 0 none;
    border-top-right-radius: var(--nice-border-radius);
    border-bottom-right-radius: var(--nice-border-radius);
    width: auto;

    &:hover {
      background: var(--nice-hover-color);
    }

    &:active {
      background: var(--nice-border-color);
    }

    .nice-icon {
      width: 16px;
      height: 16px;
    }

    .nice-input-addon-bubble {
      position: absolute;
      top: 3px;
      right: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--nice-success-color);
      color: #fff;
      overflow: hidden;
      font-size: 8px;
      line-height: 10px;
      text-align: center;
    }
  }

  .input-group .form-control:first-child,
  .input-group-addon:first-child,
  .input-group-btn:first-child>.btn,
  .input-group-btn:first-child>.btn-group>.btn,
  .input-group-btn:first-child>.dropdown-toggle,
  .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
  .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: var(--nice-border-radius);
  }

  .input-group .form-control:last-child,
  .input-group-addon:last-child,
  .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
  .input-group-btn:first-child>.btn:not(:first-child),
  .input-group-btn:last-child>.btn,
  .input-group-btn:last-child>.btn-group>.btn,
  .input-group-btn:last-child>.dropdown-toggle {
    border-radius: var(--nice-border-radius);
  }

  .symbol {
    position: relative;
    display: table;
    border-collapse: separate;

    .form-control-feedback {
      left: 0;
      right: auto;
    }

    .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      text-align: right;
    }
  }
}