<div class="nice-dropdown" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <label class="nice">{{ title }}<span ng-if="required">*</span></label>
        </div>

        <!------------------------- Field ------------------------->
        <div ng-class="[ fieldWidth ? fieldWidth : 'col-sm-8', { 'open': isOpen, 'disabled': isDisabled || emptyList } ]" click-outside="close()" is-open="{{ isOpen }}">
            <div class="nice-field-wrapper">
                <!------------------------- Button ------------------------->
                <button type="button" class="btn btn-dropdown" ng-click="toggle()" ng-disabled="isDisabled || emptyList">
                    <div class="btn-dropdown-inside" ng-transclude="button" ng-if="selected != null">
                        <span ng-if="!multiple">{{ selected[objValue] }}</span>
                        <span ng-if="multiple">
                            <span ng-if="selected.length > 1">{{ selected.length }} <translate>selected</translate></span>
                            <span ng-if="selected.length == 1">{{ selected[0][objValue] }}</span>
                            <span ng-if="selected.length == 0">None</span>
                        </span>
                    </div>
                    <div class="not-selected" ng-if="selected == null">
                        {{ selectText }}
                    </div>

                    <span class="caret" ng-show="!loading"></span>
                    <nice-loader visible-when="!loading"></nice-loader>
                </button>


                <!------------------------- Dropdown menu ------------------------->
                <div class="dropdown-menu">
                    <div class="search-bar" ng-if="searchFunction">
                        <input ng-model="internal.search" ng-model-options="{ debounce: 500 }" ng-change="handleSearch()" placeholder="{{ searchText }}" />
                        <span class="icon"><i class="fa fa-search"></i></span>
                    </div>
                    <div class="no-data" ng-if="internalList && internalList.length == 0">{{ noDataText }}</div>
                    <ul>
                        <li ng-if="nullable" ng-click="handleSelected(null, -1)">
                            {{ nullableText }}
                        </li>
                        <li ng-repeat="item in internalList" ng-click="handleSelected(item, $index)" ng-class="{ 'selected': item._selected }">
                            <span class="choice-checkbox" ng-if="multiple"><i class="fa fa-check"></i></span>
                            <span ng-transclude="option">
                                <span ng-class="{ 'multiple-item': multiple }">{{ item[objValue] }}</span>
                            </span>
                        </li>
                    </ul>
                </div>


                <!------------------------- Add button ------------------------->
                <button class="btn btn-primary add-btn" type="button" ng-if="addButtonFunction" ng-click="addButtonFunction()">+</button>
            </div>
        </div>
    </div>
    <div ng-form="formDropdown"></div>
</div>