.nice-dropdown {
  margin-bottom: 10px;

  .disabled {
    cursor: not-allowed !important;
  }

  .open {
    .btn-dropdown {
      background: var(--nice-focus-bg) !important;
      border-color: var(--nice-focus-border) !important;
      color: var(--nice-focus-color) !important;
    }

    .dropdown-menu {
      display: flex;
    }
  }

  .not-selected {
    opacity: 0.5;
  }

  .nice-field-wrapper {
    display: flex;
    position: relative;

    .add-btn {
      flex-shrink: 0;
      margin-left: 1rem;
    }
  }

  .dropdown-menu {
    min-width: 200px;
    width: 100%;
    padding: 0;
    max-height: 300px;
    border: 1px solid var(--nice-border-color);
    flex-direction: column;
    border-radius: var(--nice-border-color-radius);
    overflow: hidden;
    box-shadow: var(--nice-box-shadow);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    z-index: 1000;

    .null-item {
      color: #ccc;
    }

    .search-bar {
      flex-shrink: 0;
      border-bottom: 1px solid var(--nice-border-color);
      position: relative;
      border-top-left-radius: var(--nice-border-color-radius);
      border-top-right-radius: var(--nice-border-color-radius);

      input {
        width: 100%;
        padding: 8px 30px 8px 10px;
        border: 0 none;
        flex-grow: 1;

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: #ccc;
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
      }
    }

    .no-data {
      padding: 10px;
      text-align: center;
      color: #ccc;
    }

    ul {
      overflow-y: auto;
      overflow-x: hidden;
      flex-grow: 1;
      list-style: 0;
      padding: 0;
      margin: 0;


      li {
        padding: 10px;
        position: relative;
        cursor: pointer;

        .choice-checkbox {
          transition: all 0.2s;
          background: var(--nice-choice-bg);
          color: var(--nice-choice-bg);
          line-height: 22px;
          width: 25px;
          height: 25px;
          border: 2px solid var(--nice-border-color);
          position: absolute;
          border-radius: 2px;
          text-align: center;
        }

        .multiple-item {
          margin-left: 35px;
          line-height: 26px;
        }

        &:hover, &.hover {
          background: var(--nice-hover-color);
        }

        &.selected {
          background: var(--nice-base-color);
          color: white;

          .choice-checkbox {
            border-color: var(--nice-choice-selected-bg);
            background: var(--nice-choice-selected-bg);
            color: var(--nice-choice-selected-color);
          }
        }
      }
    }
  }

  .btn-dropdown {
    @extend .btn-primary;
    background: var(--nice-dropdown-bg);
    border-color: var(--nice-dropdown-border);
    color: var(--nice-dropdown-color);
    font-weight: inherit;
    min-height: 34px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;

    text-align: left;
    padding-right: 25px;

    .btn-dropdown-inside {
      overflow: hidden;
    }

    .caret {
      position: absolute;
      color: var(--nice-border-color);
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }

    .nice-loader {
      padding: 0;
      text-align: left;
      position: absolute;
      top: 50%;
      right: 5px;
      height: 20px;
      width: 20px;
      transform: translate(0, -50%);

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: var(--nice-dropdown-disabled-bg) !important;
      border-color: var(--nice-dropdown-disabled-border) !important;
    }

    &:hover {
      background: var(--nice-dropdown-hover-bg);
      border-color: var(--nice-dropdown-hover-border);
      color: var(--nice-dropdown-hover-color);
    }

    &:active,
    &:focus {
      background: var(--nice-focus-bg) !important;
      border-color: var(--nice-focus-border) !important;
      color: var(--nice-focus-color) !important;
      outline: 0 none;
    }
  }
}