.nice-dropdown {
  .disabled {
    cursor: not-allowed !important;
  }

  .dropdown-menu-fixed {
    position: fixed !important;
  }

  .open {
    .btn-dropdown {
      background: $nice-focus-bg !important;
      color: $nice-font-color !important;
    }
  }

  .not-selected {
    opacity: 0.5;
  }

  .nice-field-wrapper {
    display: flex;
    position: relative;

    .add-btn {
      flex-shrink: 0;
      margin-left: 1rem;
    }

    .btn {
      border-radius: $nice-border-radius;
    }
  }

  .nice-dropdown-menu-wrapper {
    z-index: 1000;
  }

  .nice-dropdown-menu {
    min-width: 200px;
    max-height: 300px;
    padding: 0;
    border: 1px solid $nice-border-color;
    flex-direction: column;
    border-radius: $nice-border-radius;
    overflow: hidden;
    box-shadow: $nice-box-shadow;
    display: flex;
    background: white;
    display: flex;

    .null-item {
      color: #ccc;
    }

    .search-bar {
      flex-shrink: 0;
      border-bottom: 1px solid $nice-border-color;
      position: relative;
      border-top-left-radius: $nice-border-radius;
      border-top-right-radius: $nice-border-radius;

      input {
        width: 100%;
        padding: 8px 30px 8px 10px;
        border: 0 none;
        flex-grow: 1;

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: #ccc;
        }
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translate(0, -50%);
      }
    }

    .nice-no-data {
      padding: 10px;
      text-align: center;
      color: #ccc;
    }

    .nice-dropdown-items {
      overflow-y: auto;
      overflow-x: hidden;
      flex-grow: 1;
      list-style: 0;
      padding: 0;
      margin: 0;


      .nice-dropdown-item {
        padding: 10px;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;

        .choice-checkbox {
          transition: all 0.2s;
          background: $nice-choice-bg;
          color: $nice-choice-bg;
          line-height: 22px;
          width: 25px;
          height: 25px;
          border: 1px solid $nice-border-color;
          margin-right: 1rem;
          border-radius: $nice-border-radius;
          text-align: center;
        }

        &:hover,
        &.hover {
          background: $nice-hover-color;
        }

        &.selected {
          background: $nice-base-color;
          color: white;

          .choice-checkbox {
            border-color: $nice-choice-selected-bg;
            background: $nice-choice-selected-bg;
            color: $nice-choice-selected-color;
          }
        }
      }
    }
  }

  .btn-dropdown {
    @extend .btn-primary;
    background: $nice-dropdown-bg;
    border-color: $nice-dropdown-border;
    color: $nice-dropdown-color;
    font-weight: inherit;
    min-height: 34px;
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    justify-content: flex-start;

    text-align: left;
    padding-right: 25px;

    .btn-dropdown-inside {
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.2;
      margin-top: 1px;
    }

    .caret {
      position: absolute;
      color: $nice-border-color;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }

    .nice-loader {
      padding: 0;
      text-align: left;
      position: absolute;
      top: 50%;
      right: 5px;
      height: 20px;
      width: 20px;
      transform: translate(0, -50%);

      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:disabled {
      cursor: not-allowed;
      background: $nice-dropdown-disabled-bg !important;
      border-color: $nice-dropdown-disabled-border !important;
    }

    &:hover {
      background: $nice-dropdown-hover-bg;
      border-color: $nice-dropdown-hover-border;
      color: $nice-dropdown-hover-color;
    }

    &:active,
    &:focus {
      background: $nice-focus-bg !important;
      color: $nice-focus-color !important;
      @extend .nice-focus;
    }
  }
}