<div class="nice-component nice-dropdown" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline }" ng-form="formDropdown">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title text="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[ fieldWidth ? fieldWidth : 'col-sm-8', { 'open': isOpen, 'nice-disabled': isDisabled || emptyList } ]" click-outside="close()" is-open="{{ isOpen }}">
            <div class="nice-field-wrapper">
                <!------------------------- Button ------------------------->
                <button class="btn btn-dropdown" type="button" ng-ref="dropdown-button" ng-click="toggle()" ng-disabled="isDisabled || emptyList" aria-expanded="{{ isOpen }}" aria-haspopup="true" aria-controls="menu" id="nice-dropdown-{{ id }}">
                    <div class="btn-dropdown-inside" ng-transclude="button" ng-if="selected != null">
                        <span ng-if="!multiple">{{ selected[objValue] }}</span>
                        <span ng-if="multiple">
                            <span ng-if="selected.length > 1">{{ selected.length }} {{ selectedText }}</span>
                            <span ng-if="selected.length == 1">{{ selected[0][objValue] }}</span>
                            <span ng-if="selected.length == 0">{{ nullableText }}</span>
                        </span>
                    </div>

                    <div class="not-selected" ng-if="selected == null">{{ selectText }}</div>

                    <span class="caret" ng-show="!loading"></span>
                    <nice-loader ng-if="loading"></nice-loader>
                </button>


                <!------------------------- Dropdown menu ------------------------->
                <div class="nice-dropdown-menu-wrapper">
                    <div class="nice-dropdown-menu" ng-if="isOpen">
                        <div class="search-bar" ng-if="searchFunction">
                            <input ng-model="internal.search" ng-model-options="{ debounce: 500 }" ng-change="handleSearch()" placeholder="{{ searchText }}" />
                            <div class="count" ng-if="internalList && internalList._metadata && enableLoadMore">{{ internalList.length }}/{{ internalList._metadata.count }}</div>
                            <nice-icon ng-if="!internal.search" class="icon" icon="icon-search"></nice-icon>
                            <nice-icon ng-if="internal.search" class="icon" icon="icon-x" ng-click="clearSearch()"></nice-icon>
                        </div>
                        <div class="nice-dropdown-actions" ng-if="multiple">
                            <button class="btn btn-default btn-sm" ng-click="selectAll()" translate translate-context="Nice">All</button>
                            <button class="btn btn-default btn-sm" ng-click="selectNone()">{{ nullableText }}</button>
                        </div>
                        <div class="nice-dropdown-items" aria-labelledby="nice-dropdown-{{ id }}" role="listbox">
                            <div role="none" class="nice-no-data" ng-if="internalList && internalList.length == 0">{{ noDataText }}</div>
                            <button role="option" class="nice-dropdown-item null-item" ng-if="!multiple && nullable && internalList.length != 0" ng-click="handleSelected(null, -1)" ng-disabled="isDisabled">
                                {{ nullableText }}
                            </button>
                            <button role="option" class="nice-dropdown-item" ng-repeat="item in internalList" ng-click="handleSelected(item, $index)" ng-class="{ 'selected': item._selected }" ng-disabled="isDisabled">
                                <div class="choice-checkbox" ng-if="multiple" role="menuitemcheckbox"><i class="fa fa-check"></i></div>
                                <div class="choice-option" ng-transclude="option" ng-class="{ 'multiple-item': multiple }">{{ item[objValue] }}</div>
                            </button>
                        </div>
                    </div>
                </div>


                <!------------------------- Add button ------------------------->
                <button class="btn btn-primary btn-icon add-btn" type="button" ng-if="addButtonFunction && !isDisabled" ng-click="addButtonFunction()" ng-disabled="isDisabled">
                    <nice-icon icon="icon-plus"></nice-icon>
                </button>
            </div>
        </div>
    </div>
</div>