.nice-date {
  $spacing: 10px;
  $icon-width: 40px;

  .nice-date-dropdown-wrapper {
    z-index: 1000;
    width: 300px;
  }

  .nice-date-dropdown {
    box-shadow: $nice-box-shadow;
    line-height: normal;
  }

  .nice-date-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100%;
  }

  .input-group {
    cursor: pointer;
    width: 100%;

    .form-control {
      text-overflow: ellipsis;
    }
  
    &.open {
      .form-control, .input-group-addon{
        border-color: $nice-base-color;
      }

      .input-group-addon{
        background-color: $nice-base-color;
        color: white;
      }
    }
  }

  .nice-date-date {
    border-radius: $nice-border-radius;
    background: white;
    overflow: hidden;
    border: solid 1px $nice-border-color;

    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;

    &.with-time {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .nice-date-header {
      background: $nice-base-color;
      line-height: 40px;
      color: white;
      display: flex;
      padding: 0 0 0 $spacing;

      i {
        width: 30px;
        font-size: 1.125em;
        font-weight: bold;
        line-height: 40px;
        cursor: pointer;
        text-align: center;

        &:hover {
          background: darken($nice-base-color, 5%);
        }

        &.fa-circle {
          font-size: 8px;
        }
      }

      span {
        flex-grow: 1;

        select {
          background: transparent;
          border: 0px;
          -webkit-appearance: none;
          cursor: pointer;
  
          &:focus, &:focus {
            outline: 0 none;
          }
        }
      }

      
    }

    .nice-date-week {
      width: 100%;
      border-top: solid 1px $nice-border-color;
      display: flex;
      flex-grow: 1;

      &:first-child {
        border-top: none;
      }

      .nice-date-day {
        user-select: none;
        position: relative;
        min-height: 20px;
        width: 14.2857%;
        border-radius: $nice-border-radius;
        border-left: solid 1px $nice-border-color;
        font-size: 12px;
        text-align: center;
        background: white;
        cursor: pointer;
        color: $nice-font-color;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        &:first-child {
          border-left: none;
        }

        &.today:before {
          content: " ";
          position: absolute;
          top: 0;
          right: 0;
          height: 10px;
          width: 10px;
          border-style: solid;
          border-width: 0 10px 10px 0;
          border-color: transparent $nice-base-color transparent transparent;
        }

        &.different-month {
          color: #C0C0C0;
        }

        &.weekend {
          background: #fafafa;
        }

        &.disabled {
          opacity: 0.3;
          color: $nice-danger-color;
          cursor: not-allowed;
        }

        &.selected {
          background: $nice-base-color !important;
          color: white;
        }

        &.between{
          background: lighten($nice-base-color, 40%);
        }

        &:hover {
          background: lighten($nice-base-color, 30%);

          &.selected {
            background: darken($nice-base-color, 10%) !important;
          }
        }
      }

      &.names {
        flex-grow: 0;
        height: 21px;
        flex-shrink: 0;

        & > span {
          color: darken($nice-base-color, 10%);
          min-height: 20px;
          cursor: default;
        }
      }
    }
  }

  .nice-date-time {
    display: flex;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #cad4d9;
    border-top: 0;

    border-bottom-left-radius: $nice-border-radius;
    border-bottom-right-radius: $nice-border-radius;

    .divider {
      line-height: 30px;
      margin: 0 10px;
    }

    i {
      line-height: 30px;
      margin-right: 10px;
      color: $nice-border-color;
    }

    .time-picker {
      position: relative;
      // flex-grow: 1;
      height: 30px;

      select {
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: 0;
        border-radius: $nice-border-radius;
        border: 1px solid $nice-border-color;
        padding: 0 10px;
        z-index: 2;
        // color: $nice-font-color;
        background: white;
        cursor: pointer;
        position: relative;
        font-size: 14px;
        height: 30px;
        line-height: auto;
      }

      // &:after {
      //   content: " ";
      //   position: absolute;
      //   top: 50%;
      //   right: 10px;
      //   width: 0;
      //   height: 0;
      //   border-style: solid;
      //   border-width: 6px 4px 0 4px;
      //   margin-top: -3px;
      //   border-color: #404040 transparent transparent transparent;
      // }

      // &.time-picker-hour{
      //   select {
      //     padding: 5px 10px 5px 15px;
      //   }
      // }
    }
  }

  .disabled-shield {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }
}