<div class="nice-component nice-date" ng-form="forma" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline }">
    <div class="nice-date-background" ng-click="toggleOpen()" ng-if="isOpen && !inline"></div>

    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title text="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <div class="disabled-shield" ng-if="isDisabled"></div>

            <!------------------------------ Input ------------------------------>
            <div class="nice-date-button input-group" ng-class="{ 'open': isOpen }" ng-show="!inline" ng-click="toggleOpen()">
                <input type="text" class="form-control" value="{{ model | niceDate:time }}" readonly="readonly" ng-disabled="isDisabled" />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-right" ng-disabled="isDisabled">
                        <nice-icon icon="icon-calendar"></nice-icon>
                    </button>
                </span>
            </div>

            <!-------- Dropdown -------->
            <div ng-class="{ 'nice-date-dropdown-wrapper': !inline }">
                <div ng-class="{ 'nice-date-dropdown': !inline, 'with-time': time, 'no-date': !date }" ng-if="inline || isOpen">
                    <!------------------------------ Date picker ------------------------------>
                    <div class="nice-date-date" ng-if="date" role="grid">
                        <div class="nice-date-header">
                            <span>
                                <select class="year-picker" ng-model="innerDate.year" ng-change="handleDateChange()" ng-options="year for year in years" ng-disabled="isDisabled">
                                </select>,
                                <select class="month-picker" ng-model="innerDate.month" ng-change="handleDateChange()" ng-options="month.value as month.name for month in months" ng-disabled="isDisabled">
                                </select>
                            </span>
                            <button class="btn btn-default-naked" type="button" ng-disabled="isDisabled" ng-click="previous()"><i class="fa fa-angle-left"></i></button>
                            <button class="btn btn-default-naked" type="button" ng-disabled="isDisabled" ng-click="today()"><i class="fa fa-circle"></i></button>
                            <button class="btn btn-default-naked" type="button" ng-disabled="isDisabled" ng-click="next()"><i class="fa fa-angle-right"></i></button>
                        </div>

                        <div class="nice-date-week names">
                            <span class="nice-date-day" ng-class="{ 'weekend': $index == 6 || $index == 5 }" ng-repeat="day in weekdays">{{ day }}</span>
                        </div>

                        <div class="nice-date-week" role="row" ng-repeat="week in weeks">
                            <button class="nice-date-day" type="button" role="gridcell" title="{{ day.value }}" ng-class="{
                                    'today': day.isToday,
                                    'different-month': !day.isCurrentMonth,
                                    'selected': isSameDay(model, day.date),
                                    'weekend': day.isWeekday,
                                    'disabled': day.isDisabled,
                                    'between': isBetween(day.date, model, nextDate)
                                }" ng-click="select(day)" ng-repeat="day in week.days" ng-disabled="isDisabled">
                                {{ day.number }}
                            </button>
                        </div>
                    </div>

                    <!------------------------------ Time picker ------------------------------>
                    <div class="nice-date-time" ng-if="time">
                        <nice-icon icon="icon-clock"></nice-icon>

                        <div class="time-picker time-picker-hour">
                            <select ng-disabled="isDisabled" ng-model="innerDate.hour" ng-change="timeChange()" ng-options="hour as hour for hour in hours track by hour" ng-disabled="isDisabled"></select>
                        </div>

                        <div class="divider">:</div>

                        <div class="time-picker time-picker-minute">
                            <select ng-disabled="isDisabled" ng-model="innerDate.minute" ng-change="timeChange()" ng-options="minute as minute for minute in minutes track by minute" ng-disabled="isDisabled"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>