.nice-search{
  position: relative;

  i.ng-hide {
    -webkit-animation: 0;
  }

  .input-group{
    .input-group-addon {
      cursor: pointer;
      background: $nice-addon-bg;

      &:hover {
        // Set icon color and background
        background-color: $nice-base-color;
        color: white;
      }
    }
  }

  .symbol {
    input{
      text-align: left;
    }
    .form-control{
      padding-left: 12px;
    }
  }

  .nice-dropdown{
    position: absolute;
    z-index: 999;
    //top: 35px;
    left: 0;
    // right: 0;
    //min-width: 340px;
    max-height: 300px;
    background-color: white;
    border: 1px solid $nice-border-color;
    border-radius: $nice-border-radius;
    overflow-x: auto;

    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.175);

    top: -13px;
    margin: 15px;
    right: 0;

    .nice-search-row{
      padding: 10px 15px;
      z-index: 1000;
      width: 100%;
      &:hover {
        //color: white !important;
        //background-color: $nice-base-color !important;
        background-color: $nice-hover-color;
        cursor: pointer;

        p{color:white !important;}
      }

      &.active{
        // color: white;
        background-color: $nice-hover-color;
        cursor: pointer;

        // p{color:white;}
      }
    }

    &:hover{
      .active{
        color: $text-color;
        background-color: white;
        p{
          color:$text-color;
        }
      }
    }
  }

  .nice-dropdown-empty{
    @extend .nice-dropdown;
    top: -13px;
    margin: 15px;
    right: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  }
}
