nice-checkbox{
  display: inline-block;
}

.nice-checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    height: 34px;
    width: 34px;
    border: 1px solid $nice-input-border;
    border-radius: $nice-border-radius-small;
    margin: 0;
    padding: 4px;

    .check{
      opacity: 0;
    }

    .check-stroke {
      stroke: $nice-base-color;
      fill: none;
      stroke-width: 4;
      stroke-linecap: round;
    }
  }

  .message {
    margin-left: 15px;
    user-select: none;
    color: $nice-font-color;
  }

  &:hover {
    .checkbox {
      border-color: darken($nice-input-border, 15%);
    }

    .message {
      color: darken($nice-font-color, 15%);
    }
  }

  &.checked {
    .checkbox {
      border-color: $nice-input-border;
      background: white;

      .check{
        opacity: 1;
      }

      .message {
        color: $nice-font-color;
      }
    }

    &:hover{
      .checkbox {
        border-color: darken($nice-input-border, 15%);
      }
    }
  }
}
