label.nice{
  color: var(--nice-input-label-color);
  text-align: right;
  display: block;
  line-height: 34px;
  margin: 0px;
  font-weight: normal;

  @media (max-width: $screen-xs-max) {
    text-align: left;
  }
}

.nice-component {
  .nice-title {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 34px;
    
    .nice-title-text {
      text-align: right;
      color: var(--nice-input-label-color);
    }
    
    .nice-title-help {
      margin-left: 5px;
      line-height: 1;
    }

    @media (max-width: $screen-xs-max) {
      justify-content: flex-start;

      .nice-title-text {
        text-align: left;
      }
    }
  }
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-right-20 {
  margin-right: 20px;
}

p.nice{
  line-height: 34px;
  margin: 0;
}

.nice-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;
}

.nice-table{
  hr{
    margin: 0px;
    margin-bottom: 10px;
    border-color: var(--nice-border-color);
  }

  .nice-table-header{
    font-size: $font-size-small;
    color: var(--nice-base-color);
    padding-top: 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .nice-table-row{
    cursor: pointer;
    line-height: 25px;
    font-size: 14px;
    padding: 10px 0px;
    border-top: 1px solid var(--nice-border-color);



    .list-inline{
      margin-bottom: 0px;
    }

    &:hover{
      background: var(--nice-table-bg-hover);
    }

    .nice-table-btn{
      line-height: 11px;
      width: 100%;
    }
  }

  .no-border-top{
    border-top: none;
  }

  .active{
    //background: $table-bg-active;

    &:before{
      content: " ";
      background: var(--nice-base-color);
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }

  &.nice-table-settings{
    .nice-table-row:hover{
      background: none;
      @extend .active;
    }
  }
}

.nice-list-item{
  cursor: pointer;
  line-height: 25px;
  font-size: 14px;
  padding: 15px 25px;
  border-top: 1px solid var(--nice-border-color);

  &:hover{
    background: var(--nice-table-bg-hover);
  }

  &.active{
    background: var(--nice-table-bg-active);
  }
}

.nice-submenu{
  background-color: var(--nice-submenu-bg-color);
  // height: 50px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 20px;
  //line-height: 50px;

  .nice-submenu-wrapper{
    padding:25px;
  }

  .nice-submenu-item {
    cursor: pointer;
    line-height: 50px;

    &:before {
      content: " ";
      background: var(--nice-submenu-gray-color);
      height: 3px;
      position: absolute;
      top: 47px;
      bottom: 0px;
      left: 2px;
      right: 2px;
    }

    &.active, &:hover {
      &:before {
        background: var(--nice-base-color);
      }
    }
  }

  .width-200{
    width: 200px;
  }

  .width-300{
    width: 300px;
  }

  .nice-inline{
    margin-right: 10px;
    float: left;
    line-height: 34px;
  }

  .nice-inline-right{
    margin-left: 10px;
    float: right;
    line-height: 34px;
    @media (max-width: $screen-md-min) { float: left; }
  }
}

.nice-label{
  display: block;
  p.value{
    line-height: 34px;
  }
}

.error-message{
  padding:5px 0px 0px 0px;
  text-align: right;
  font-size: $font-size-small;
  color: var(--nice-input-invalid);
}

.feedback-invalid{
  color:var(--nice-input-invalid) !important;
}

.feedback-valid{
  color:var(--nice-input-valid);
}

.has-warning{
  .form-control{
    border-color: var(--nice-input-invalid) !important;
  }

  .input-group-addon{
    background: var(--nice-input-invalid) !important;
    border: var(--nice-input-invalid) !important;
    color: white;
  }
}

.has-success{
  .form-control{
    border-color: var(--nice-input-valid);
  }

  .input-group-addon{
    background: var(--nice-input-valid);
    border: var(--nice-input-valid);
    color: white;
  }
}
