//colors
$black_40: rgba(0, 0, 0, 0.4);
$white: #fff;
$black_16: rgba(0, 0, 0, 0.16);
$black_12: rgba(0, 0, 0, 0.12);
$color_apple_approx: darken($nice-base-color, 10%);
$color_sushi_approx: $nice-base-color;
$color_beryl_green_approx: #dcedc8;
$color_silver_approx: #bdbdbd;
$color_log_cabin_approx: #212121;
$color_tapa_approx: #757575;
$color_gallery_approx: #eee;

//@extend-elements
//original selectors
//.dtp div.dtp-date, .dtp div.dtp-time
%extend_1 {
  background: $color_sushi_approx;
  text-align: center;
  color: $white;
  padding: 10px;
}

//original selectors
//.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a
%extend_2 {
  color: $color_log_cabin_approx;
  text-decoration: none;
  padding: 0.4rem 0.5rem 0.5rem 0.6rem;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%!important;
}

//original selectors
//.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm
%extend_3 {
  position: relative;
  top: 10px;
  color: $color_log_cabin_approx;
  font-weight: 500;
  padding: 0.7rem 0.5rem;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%!important;
  text-decoration: none;
  background: $color_gallery_approx;
  font-size: 1rem;
}

//original selectors
//.dtp .dtp-hand, .dtp .dtp-hour-hand
%extend_4 {
  position: absolute;
  width: 4px;
  margin-left: -2px;
  background: $color_silver_approx;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: rotate(0deg);
  //Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
  transform-origin: bottom;
  z-index: 1;
}



.nice-datetime-picker{
  margin-bottom: 10px;

  .input-group{
    .input-group-addon {
      background: $nice-addon-bg;

      &:hover {
        // Set icon color and background
        background-color: $nice-base-color;
        color: white;
      }
    }
  }

  .form-control{
    background: $nice-background;
  }

  .dtp-wrapper {
    position: relative;
    .dtp {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //background: $black_40;
      z-index: 2000;
      position: absolute;
      div {
        &.dtp-date {
          @extend %extend_1;
          > div {
            padding: 0;
            margin: 0;
          }
        }
        &.dtp-time {
          @extend %extend_1;
        }
        &.dtp-actual-month {
          font-size: 1.5em;
        }
        &.dtp-actual-num {
          font-size: 3em;
          line-height: 0.9;
        }
        &.dtp-actual-maxtime {
          font-size: 3em;
          line-height: 0.9;
        }
        &.dtp-actual-year {
          font-size: 1.5em;
          //color: $color_beryl_green_approx;
        }
        &.dtp-picker {
          padding: 1rem;
          text-align: center;
        }
        &.dtp-picker-month {
          font-weight: 500;
          text-align: center;
        }
        &.dtp-actual-time {
          font-weight: 500;
          text-align: center;
        }
        &.dtp-picker-clock {
          width: 200px;
          height: 200px;
          margin: 1rem 2rem 0;
          padding: 1rem;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 50% !important;
          background: $color_gallery_approx;
        }
        &.dtp-actual-month, &.dtp-actual-num, &.dtp-actual-year {
          cursor: pointer;
        }
        &.dtp-actual-time{
          font-size: 3em;
          line-height: 0.9;
          color: $color_tapa_approx;
          .dtp-hours-minutes-btn{
            text-decoration: none;
            color: $color_tapa_approx;
            &.selected{
              color: $color_sushi_approx;
              background-color: transparent;
            }
          }
        }
        &.dtp-actual-maxtime {
          color: $color_apple_approx;
          .dtp-hours-minutes-btn{
            text-decoration: none;
            background-color: transparent;
            color: $color_apple_approx;
            &.selected{
              color: white;
              background-color: transparent;
            }
          }
        }
      }
      .dtp-close {
        position: absolute;
        top: 0.2em;
        right: 1rem;
        > a {
          color: $white;
          > i {
            font-size: 1em;
          }
        }
      }
      .dtp-picker-time {
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 1em;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 50%;
        cursor: pointer;
        font-weight: 500;
        text-align: center !important;
        > a {
          @extend %extend_2;
          display: block;
          line-height: 23px;
          padding: 0.3rem 0.3rem 0.3rem 0.3rem;
          &.dtp-select-hour {
            &.selected {
              background: $color_apple_approx;
              color: $white;
            }
            &.disabled {
              color: $color_tapa_approx;
            }
          }
          &.dtp-select-minute {
            &.disabled {
              color: $color_tapa_approx;
            }
            &.selected {
              background: $color_sushi_approx;
              color: $white;
            }
          }
        }
      }
      .p10 {
        width: 10%;
        display: inline-block;
        > a {
          color: $color_apple_approx;
          text-decoration: none;
        }
      }
      .p20 {
        width: 20%;
        display: inline-block;
      }
      .p60 {
        width: 60%;
        display: inline-block;
      }
      .p80 {
        width: 80%;
        display: inline-block;
      }
      a {
        &.dtp-meridien-am {
          @extend %extend_3;
        }
        &.dtp-meridien-pm {
          @extend %extend_3;
        }
      }
      .dtp-hand {
        @extend %extend_4;
        &.on {
          background: $color_sushi_approx;
        }
      }
      .dtp-hour-hand {
        @extend %extend_4;
      }
      .dtp-minute-hand {
        width: 2px;
        margin-left: -1px;
      }
      .dtp-buttons {
        padding: 0 1rem 1rem;
        text-align: right;
      }
      .hidden {
        display: none;
      }
      .invisible {
        visibility: hidden;
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
      .clearfix {
        clear: both;
      }
      .center {
        text-align: center;
      }
      > .dtp-content {
        background: $white;
        max-width: 300px;
        //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
        box-shadow: 0 2px 5px 0 $black_16, 0 2px 10px 0 $black_12;
        max-height: 500px;
        position: absolute;
        left: 0;
        top: 0;
        width: 240px;
        > .dtp-date-view > div.dtp-header {
          background: $color_apple_approx;
          color: $white;
          text-align: center;
          padding: 0.3rem;
        }
      }
      table.dtp-picker-days {
        margin: 0;
        border: none;
        tr {
          border: none;
          > {
            td {
              border: none;
              font-weight: 700;
              font-size: 1.2rem;
              text-align: center;
              padding: 1rem 0.3rem;
              > {
                a {
                  @extend %extend_2;
                  &.selected {
                    background: $color_sushi_approx;
                    color: $white;
                  }
                }
                span.dtp-select-day {
                  color: $color_silver_approx !important;
                }
              }
            }
            th {
              color: $color_tapa_approx;
              text-align: center;
              font-weight: 700;
              padding: 0.4rem 0.3rem;
            }
          }
        }
      }
      .dtp-actual-meridien a.selected {
        background: $color_apple_approx;
        color: $white;
      }
    }
    .dtp-clock-center {
      width: 15px;
      height: 15px;
      background: $color_tapa_approx;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 50%;
      position: absolute;
      z-index: 50;
    }
  }
}



