.nice-datetime-picker{
  margin-bottom: 10px;

  .input-group{
    .input-group-addon {
      background: $nice-addon-bg;

      &:hover {
        // Set icon color and background
        background-color: $nice-base-color;
        color: white;
      }
    }
  }

  .form-control{
    background: $nice-background;
  }

  .datetimepicker{
    width: 260px;

    .day, .month, .year{
      &.active{
        background: $nice-datetime-bg;
        -webkit-border-radius: $nice-border-radius;
        -moz-border-radius: $nice-border-radius;
        border-radius: $nice-border-radius;

        &:hover{
          background: $nice-datetime-bg;
        }
      }
    }
  }

  table{
    width: 100%;
    font-family: $font-family-base;
    font-size: 12px;

    tr{
      td{
        font-size: 12px;

        span.active:active, span.active:hover:active, span.active.disabled:active, span.active.disabled:hover:active, span.active.disabled:hover.active{}
        .active:active, .active:hover:active, .active.disabled:active, .active.disabled:hover:active, .active.disabled:hover.active{
          background: $nice-base-color !important;
          border-radius: $nice-border-radius;
        }
      }
    }
  }
}


@media (max-width: $screen-md-min) {
  .nice-datetime-picker{

    .ranges, .calendar, .ranges, .calendar{
      float: none !important;
    }

    .ranges{
      margin: 0 auto;
      margin-top: 5px;
    }

    .table-responsive {
      margin-bottom: 0;
      border: 0;
    }

    .dropdown-menu{
      padding: 0;
    }
  }
}
