.nice-date{
  .dropdown-menu {
    box-shadow: 0px 0px 0px;
    padding: 10px;
    border: 0px none;

    li{
      :focus {
        outline: -webkit-focus-ring-color auto 0px;
      }
    }

    .input-group-addon {
      background: $nice-addon-bg !important;
    }

    .btn{
      border:0px none;
    }

    .btn-info{
      background: $nice-base-color;

      .text-muted{
        color: white;
      }

      .text-info{
        color:white;
      }
    }

    .text-info{
      color:$nice-base-color;
    }
  }
}