@import "variables";
@import "bootstrap-variables";

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -html-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.has-feedback {
  .form-control {
    padding-right: 12px;
  }
}

@import "nice-common";
@import "../components/nice-dropdown/nice-dropdown";
@import "../components/nice-dropdown-old/nice-dropdown-old";
@import "../components/nice-input/nice-input";
@import "../components/nice-search/nice-search";
@import "../components/nice-search2/nice-search2";
@import "../components/nice-yesno/nice-yesno";
@import "../components/nice-steps/nice-steps";
@import "../components/nice-choice/nice-choice";
@import "../components/nice-datetime-picker/nice-datetime-picker";
@import "../components/nice-datetimerange-picker/nice-datetimerange-picker";
@import "../components/nice-datetimerange-picker-2/nice-datetimerange-picker-2";
@import "../components/nice-button-toggle/nice-button-toggle";
@import "../components/nice-number/nice-number";
@import "../components/nice-date-range/nice-date-range";
@import "../components/nice-date/nice-date";
@import "../components/nice-comment/nice-comment";
@import "../components/nice-loader/nice-loader";
@import "../components/nice-notification/nice-notification";
@import "../components/nice-button/nice-button";
@import "../components/nice-calendar/nice-calendar";
@import "../components/nice-dropdown-date/nice-dropdown-date";
@import "../components/nice-time-picker/nice-time-picker";
@import "../components/nice-checkbox/nice-checkbox";
@import "../components/nice-upload/nice-upload";
@import "../components/nice-help/nice-help";
@import "../components/nice-quantity/nice-quantity";
@import "../components/nice-progress-bar/nice-progress-bar";
@import "../components/nice-tooltip/nice-tooltip";
@import "../components/nice-popup/nice-popup";
@import "../components/nice-icon/nice-icon";
@import "../components/nice-toast/nice-toast";