.nice-button{
  margin-bottom: 10px;

  .btn{
    position: relative;

    .opacity0{
      opacity: 0;
    }

    .opacity1{
      opacity: 1;
    }

    .nice-button-loader-wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -5px;
      margin-top: -5px;

      .nice-button-loader{
        padding: 0;

        svg{
          width: 10px;
          height: 10px;
        }

        svg path,
        svg rect{
          fill: white;
        }
      }
    }
  }

}

