// -------------------------------- Btn --------------------------------
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  padding: 6px 12px;
  min-height: 34px;
  position: relative;

  &.btn-icon {
    padding: 6px;
    width: 34px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &:hover,
  &:focus {
    color: white;
  }

  svg,
  img {
    width: 15px;
    height: 15px;
    fill: currentColor;
    flex-shrink: 0;
  }

  // Icon padding
  svg+translate,
  svg+span,
  translate+svg,
  span+svg,
  nice-icon+translate,
  nice-icon+span,
  translate+nice-icon,
  span+nice-icon,
  span+i,
  translate+i i+span,
  i+translate {
    margin-left: 0.5rem;
  }

  &.focus,
  &.active.focus,
  &.active:focus,
  &:active.focus,
  &:active:focus,
  &:focus {
    @extend .nice-focus;
  }
}


// -------------------------------- Btn primary --------------------------------
.btn-primary {
  background: var(--nice-primary-color);
  border-color: var(--nice-primary-color-darker);
  outline-color: var(--nice-primary-color);
  color: white;

  &:active,
  &.active {
    background: var(--nice-primary-color-lighter);
    border-color: var(--nice-primary-color-lighter);

    &:focus,
    &:hover {
      background: var(--nice-primary-color-lighter);
      border-color: var(--nice-primary-color-lighter);
    }
  }

  &:focus,
  &:hover {
    background: var(--nice-primary-color-darker);
    border-color: var(--nice-primary-color-darker);
    outline-color: var(--nice-primary-color);
  }

  &:disabled {

    &:active,
    &.active,
    &:focus,
    &:hover {
      background: var(--nice-primary-color);
      border-color: var(--nice-primary-color-darker);
      outline-color: var(--nice-primary-color);
    }
  }
}

.btn-primary-plain {
  @extend .btn-primary;
  color: var(--nice-primary-color);
  background: var(--nice-primary-color-plain);
  border-color: var(--nice-primary-color-plain);

  &:disabled {

    &:active,
    &.active,
    &:focus,
    &:hover {
      color: var(--nice-primary-color);
      background: var(--nice-primary-color-plain);
      border-color: var(--nice-primary-color-plain);
    }
  }
}

.btn-primary-naked {
  @extend .btn-primary;
  color: var(--nice-primary-color);
  background: transparent;
  border-color: transparent;

  &:disabled {

    &:active,
    &.active,
    &:focus,
    &:hover {
      color: var(--nice-primary-color);
      background: transparent;
      border-color: transparent;
    }
  }
}


// -------------------------- Default --------------------------
.btn-default {
  color: var(--nice-font-color);
  background: var(--nice-secondary-color);
  border-color: var(--nice-secondary-color);

  &:active,
  &.active,
  &:hover:active,
  &:hover.active {
    background: var(--nice-secondary-color-lighter);
    border-color: var(--nice-secondary-color-lighter);
  }

  &:focus,
  &:hover {
    color: var(--nice-font-color);
    background: var(--nice-secondary-color-darker);
    border-color: var(--nice-secondary-color-darker);
  }

  &:disabled {

    &:active,
    &.active,
    &:focus,
    &:hover {
      color: var(--nice-font-color);
      background: var(--nice-secondary-color);
      border-color: var(--nice-secondary-color);
    }
  }
}

.btn-default-plain {
  @extend .btn-default;
  color: var(--nice-font-color);
  background: var(--nice-secondary-color);
  border-color: var(--nice-secondary-color);
}

.btn-default-naked {
  @extend .btn-default;
  color: var(--font-card);
  background: transparent;
  border-color: transparent;
}

// -------------------------- Secondary --------------------------
.btn-secondary {
  color: var(--nice-secondary-font-color);
  background: var(--nice-secondary-color);
  border-color: var(--nice-border-color);
  outline-color: var(--nice-secondary-color) !important;

  &:active,
  &.active,
  &:hover:active {
    background: var(--nice-secondary-color-lighter);
  }

  &:focus,
  &:hover {
    color: var(--nice-secondary-font-color);
    background: var(--nice-secondary-color-darker);
    border-color: var(--nice-secondary-color-darker);
    outline-color: var(--nice-secondary-color);
  }
}

.btn-secondary-plain {
  @extend .btn-secondary;
  color: var(--nice-secondary-font-color);
  background: var(--nice-secondary-color);
  border-color: var(--nice-secondary-color);
}

.btn-secondary-naked {
  @extend .btn-secondary;
  color: var(--nice-secondary-font-color);
  background: transparent;
  border-color: transparent;
}

// -------------------------- Success --------------------------
.btn-success {
  color: white;
  background: var(--nice-success-color);
  border-color: var(--nice-success-color);
  outline-color: var(--nice-success-color) !important;

  &:active,
  &.active,
  &:hover:active {
    background: var(--nice-success-color-lighter);
  }

  &:focus,
  &:hover {
    background: var(--nice-success-color-darker);
    border-color: var(--nice-success-color-darker);
    outline-color: var(--nice-success-color);
  }
}

.btn-success-plain {
  @extend .btn-success;
  color: var(--nice-success-color);
  background: var(--nice-success-color-plain);
  border-color: var(--nice-success-color-plain);
}

.btn-success-naked {
  @extend .btn-success;
  color: var(--nice-success-color);
  background: transparent;
  border-color: transparent;
}


// -------------------------- Danger --------------------------
.btn-danger {
  color: white;
  background: var(--nice-danger-color);
  border-color: var(--nice-danger-color);
  outline-color: var(--nice-danger-color) !important;

  &:active,
  &.active,
  &:hover:active {
    background: var(--nice-danger-color-lighter);
  }

  &:focus,
  &:hover {
    background: var(--nice-danger-color-darker);
    border-color: var(--nice-danger-color-darker);
    outline-color: var(--nice-danger-color);
  }
}

.btn-danger-plain {
  @extend .btn-danger;
  color: var(--nice-danger-color);
  background: var(--nice-danger-color-plain);
  border-color: var(--nice-danger-color-plain);
}

.btn-danger-naked {
  @extend .btn-danger;
  color: var(--nice-danger-color);
  background: transparent;
  border-color: transparent;
}


// -------------------------- Info --------------------------
.btn-info {
  color: white;
  background: var(--nice-info-color);
  border-color: var(--nice-info-color);
  outline-color: var(--nice-info-color) !important;

  &:active,
  &.active,
  &:hover:active {
    background: var(--nice-info-color-lighter);
  }

  &:focus,
  &:hover {
    background: var(--nice-info-color-darker);
    border-color: var(--nice-info-color-darker);
    outline-color: var(--nice-info-color);
  }
}

.btn-info-plain {
  @extend .btn-info;
  color: var(--nice-info-color);
  background: var(--nice-info-color-plain);
  border-color: var(--nice-info-color-plain);
}

.btn-info-naked {
  @extend .btn-info;
  color: var(--nice-info-color);
  background: transparent;
  border-color: transparent;
}


// -------------------------- Warning --------------------------
.btn-warning {
  color: white;
  background: var(--nice-warning-color);
  border-color: var(--nice-warning-color);
  outline-color: var(--nice-warning-color) !important;

  &:active,
  &.active,
  &:hover:active {
    background: var(--nice-warning-color-lighter);
  }

  &:focus,
  &:hover {
    background: var(--nice-warning-color-darker);
    border-color: var(--nice-warning-color-darker);
    outline-color: var(--nice-warning-color);
  }
}

.btn-warning-plain {
  @extend .btn-warning;
  color: var(--nice-warning-color);
  background: var(--nice-warning-color-plain);
  border-color: var(--nice-warning-color-plain);
}

.btn-warning-naked {
  @extend .btn-warning;
  color: var(--nice-warning-color);
  background: transparent;
  border-color: transparent;
}


// -------------------------------- Btn big --------------------------------
.btn-big,
.btn-lg {
  font-size: 1.2em;
  padding: 0.2rem 1.5rem;
  min-height: 42px;

  &.btn-icon {
    padding: 0.2rem;
    width: 42px;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
}


// -------------------------------- Btn medium --------------------------------
.btn-medium {
  height: 40px !important;

  &.btn-icon {
    width: 40px;
  }
}

// -------------------------------- Btn sm --------------------------------
.btn-sm {
  min-height: 30px !important;
  padding: 4px 10px;

  &.btn-icon {
    padding: 4px;
    height: 30px;
  }
}