.nice-dropdown-date{
  margin-bottom: 10px;
  display: block;

  .form-group{
    &:after{
      content: " ";
      position: absolute;
      top: 50%;
      right: 25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      margin-top: -3px;
      border-color: #404040 transparent transparent transparent;
    }
  }

  select{
    width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border-radius: $nice-border-radius;
    border: 1px solid $nice-border;
    position: relative;
    z-index: 2;
    background: transparent;

    &:disabled{
      cursor: not-allowed;
      background: $nice-dropdown-disabled-bg !important;
      border-color: $nice-dropdown-disabled-border !important;
    }

    &:hover{
      //background: $nice-dropdown-hover-bg;
      border-color: $nice-dropdown-hover-border;
      color: $nice-dropdown-hover-color;
    }

    &:active, &:focus{
      //background: $nice-focus-bg !important;
      border-color: $nice-focus-border !important;
      color: $nice-focus-color !important;
      -webkit-box-shadow: 0 0 0;
      box-shadow: 0 0 0;
    }
  }
}