.nice-datetimerange-picker {
  div.dtp-range-wrapper{
    position: absolute;
    left: 0;
    top: 40px;
    width: 800px;
    padding: 10px;
    background-color: gray;
    z-index: 1000;

    div.dtp{
      position: relative;

      div.dtp-content{
        position: relative;
        top: 0;

        div.dtp-date-view{
          min-height: 460px;
        }
      }
    }
  }

}