.nice-number {
  .input-group {
    .form-control {
      z-index: 0;
      text-align: center;
      padding: 0;
      min-width: 30px;
      border-left: 0 none;
      border-right: 0 none;
    }
  }

  .error-messages {
    &.floating-error {
      position: absolute;
      right: 15px;
    }
  }
}