.nice-number {
  .input-group {
    .form-control {
      text-align: center;
      padding: 0;
      min-width: 30px;
      border-left: 0 none;
    }
  }

  .input-group-btn {
    .btn {
      background: $nice-addon-bg;
    }
  }

  .error-messages {
    &.floating-error {
      position: absolute;
      right: 15px;
    }
  }
}