<div class="nice-component nice-number" ng-form="form" ng-class="{ 'margin-bottom-0' : noMargin, 'nice-component-inline': isInline }">
    <div ng-class="{'row' : !disableRow}">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <div class="input-group"
                ng-class="{'has-warning': !disabled && form.$invalid && form.$dirty}">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-disabled="!canSubstract" ng-click="subtract()">-</button>
                </span>

                <input type="number" step="{{ step }}" ng-change="inputChanged()" class="form-control" max="{{ max }}" min="{{ min }}" ng-model="model" />

                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-disabled="!canAdd" ng-click="add()">+</button>
                </span>
            </div>
            
            <div class="error-messages" ng-if="form.$error && !hideError" ng-class="{ 'floating-error': floatingError }">
                <div class="error-message" ng-if="form.$dirty && form.$error.number" translate>This field requires a number</div>
                <div class="error-message" ng-if="form.$error.min"><translate>Minimum value is</translate> {{ min }}</div>
                <div class="error-message" ng-if="form.$error.max"><translate>Maximum value is</translate> {{ max }}</div>
                <div class="error-message" ng-if="form.$error.zero"><translate>0 is not allowed</translate></div>
                <div class="error-message" ng-if="form.$error.noValue && !form.$error.zero && !form.$error.min && !form.$error.max"><translate>Value is missing</translate></div>
            </div>
        </div>
    </div>
</div>