<div class="nice-component nice-time-picker" ng-form="forma" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline }">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <div 
                class="input-group" 
                ng-class="{
                    'has-warning': !isDisabled && forma.$invalid && forma.$dirty,
                    'disabled': isDisabled
                }"
            >
                <input type="text" class="form-control" ng-model="modelString" ng-keyup="$event.keyCode == 13 && validateDate()" ng-blur="validateDate()">
                <span class="input-group-addon clickable" ng-click="open = !open"><i class="fa fa-clock-o"></i></span>
            </div>

            <div class="nice-time-picker-dropdown" ng-if="open">
                <div class="row">
                    <div class="col-xs-6">
                        <button ng-click="changeHour(true)"><i class="fa fa-chevron-up"></i></button>
                    </div>
                    <div class="col-xs-6">
                        <button ng-click="changeMinutes(true)"><i class="fa fa-chevron-up"></i></button>
                    </div>
                </div>

                <div class="row numbers">
                    <div class="col-xs-6">{{ hours }}</div>
                    <div class="col-xs-6">{{ minutes }}</div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        <button ng-click="changeHour(false)"><i class="fa fa-chevron-down"></i></button>
                    </div>
                    <div class="col-xs-6">
                        <button ng-click="changeMinutes(false)"><i class="fa fa-chevron-down"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="nice-background" ng-click="close()" ng-if="open"></div>
</div>