<div class="nice-component nice-slot">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}</div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-xs-8'">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>
