<div class="nice-datetime-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">
  <div class="row">
    <div class="col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
        <label class="nice">{{ title }}<span ng-if="required">*</span></label>
    </div>

    <div class="col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown{{randNum}}" role="button" data-toggle="dropdown" data-target="#" href>
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="labelValue">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker ng-if="opts.startView=='year' && opts.minView=='year'"
                                ng-model="dateObj" on-set-time="callback(newDate)"
                                datetimepicker-config="{dropdownSelector: '#dropdown{{randNum}}', startView: 'year', minView: 'year'}" ></datetimepicker>

                <datetimepicker ng-if="opts.startView=='year' && opts.minView=='day'"
                                ng-model="dateObj" on-set-time="callback(newDate)"
                                datetimepicker-config="{dropdownSelector: '#dropdown{{randNum}}', startView: 'year', minView: 'day'}" ></datetimepicker>

                <datetimepicker ng-if="opts.startView=='day' && opts.minView=='day'"
                                ng-model="dateObj" on-set-time="callback(newDate)"
                                datetimepicker-config="{dropdownSelector: '#dropdown{{randNum}}', startView: 'day', minView: 'day'}" ></datetimepicker>

                <datetimepicker ng-if="opts.startView=='day' && opts.minView=='minute'"
                                ng-model="dateObj" on-set-time="callback(newDate)"
                                datetimepicker-config="{dropdownSelector: '#dropdown{{randNum}}', startView: 'day', minView: 'minute'}" ></datetimepicker>

                <datetimepicker ng-if="opts.startView=='hour' && opts.minView=='minute'"
                                ng-model="dateObj" on-set-time="callback(newDate)"
                                datetimepicker-config="{dropdownSelector: '#dropdown{{randNum}}', startView: 'hour', minView: 'minute'}" ></datetimepicker>

                <datetimepicker ng-if="opts.startView=='hour' && opts.minView=='hour'"
                                ng-model="dateObj" on-set-time="callback(newDate)"
                                datetimepicker-config="{dropdownSelector: '#dropdown{{randNum}}', startView: 'hour', minView: 'hour'}" ></datetimepicker>
            </ul>
        </div>
    </div>
  </div>
</div>