

<div class="nice-datetime-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="row">
        <div class="col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <label class="nice">{{ title }}<span ng-if="required">*</span></label>
        </div>

        <div class="col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimePicker"></div>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown{{randNum}}" role="button" ng-click="openDtp()" href="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{value}}" ng-click="openDtp()">
                        <span class="input-group-addon"><i class="fa" ng-class="{'fa-clock-o': date=='false', 'fa-calendar': date!='false'}"></i></span>
                    </div>
                </a>
            </div>

            <!-- inject nice-dtp here -->
            <nice-dtp
                    model="currentDate"
                    format="{{format}}"
                    model-format="{{modelFormat}}"
                    date="{{date}}"
                    time="{{time}}"
                    width="{{width}}"
                    enable-ok-buttons="{{enableOkButtons}}"
                    lang="{{lang}}"
                    min-date="{{minDate}}"
                    max-date="{{maxDate}}"
                    week-start="{{weekStart}}"
                    ok-text="{{okText}}"
                    cancel-text="{{cancelText}}"
                    short-time="{{shortTime}}"
            ></nice-dtp>
        </div>
    </div>
</div>

