<ng-form class="nice-input" name="form">
  <div class="row">
    <div ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
        <label class="nice">{{ title }}<span ng-if="required">*</span></label>
    </div>

    <div ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
        <div class="form-group"
             ng-class="{
                'has-feedback': showValid && !hideValid,
                'has-warning': !isDisabled && form.$invalid && form.$dirty && !hideValid,
                'has-success': !isDisabled && form.$valid && form.$dirty && showValid,
                'symbol': symbol,
                'disabled': isDisabled
        }">
            <input ng-show="!area"
                class="form-control"
                type="{{ internalType }}"
                ng-model="model"
                title="{{ help }}"
                name="{{ name }}"
                id="{{ id }}"
                placeholder="{{ placeholder }}"
                ng-minlength="minlength"
                ng-maxlength="maxlength"
                ng-required="required"
                ng-keypress="keypress($event)"
                ng-pattern="regexexp"
                ng-disabled="isDisabled"
                maxlength="{{maxLength}}"
            >
            <textarea ng-show="area"
                class="form-control"
                ng-model="model"
                title="{{ help }}"
                id="{{ id }}"
                placeholder="{{ placeholder }}"
                rows="{{textAreaLines}}"
                ng-minlength="minlength"
                ng-maxlength="maxlength"
                ng-required="required"
                ng-pattern="regexexp"
                ng-disabled="isDisabled"
            ></textarea>

            <span class="input-group-addon" ng-if="symbol">{{ symbol }}</span>
            <!--<span ng-if="!disabled && showValid && form.$valid && form.$dirty" class="glyphicon glyphicon-ok form-control-feedback feedback-valid" aria-hidden="true"></span>-->
            <!--<span ng-if="!disabled && !hideValid && form.$invalid && form.$dirty" class="glyphicon glyphicon-remove form-control-feedback feedback-invalid" aria-hidden="true"></span>-->
        </div>

        <div ng-messages="form.$error" ng-if="form.$dirty">
            <div class="error-message" ng-message="email" ng-if="form.$dirty" translate>Email is not valid.</div>
            <div class="error-message" ng-message="pattern" ng-if="form.$dirty" translate>This field requires a specific pattern.</div>
            <div class="error-message" ng-message="minlength"><translate>Your input is too short. It must contain at least</translate> {{ minlength }} <translate>characters</translate>.</div>
            <div class="error-message" ng-message="maxlength" translate>Your input is too long</div>
            <div class="error-message" ng-message="required" ng-if="form.$dirty" translate>This field is required.</div>
            <div class="error-message" ng-message="unique" translate>This field must be unique.</div>
        </div>
    </div>
  </div>
</ng-form>
