<div class="nice-datetime-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="row">
        <div class="col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <label class="nice">{{ title }}<span ng-if="required">*</span></label>
        </div>

        <div class="col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimePicker"></div>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown{{randNum}}" role="button" ng-click="onClick()" href="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{value}}" ng-click="onClick()">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                </a>
            </div>

            <div class="dtp-wrapper">
                <div class="dtp" id="this.name" ng-class="{'hidden': !showDtp}">
                    <div class="dtp-content" ng-style="dtp_content_style">
                        <div class="dtp-date-view">
                            <div class="dtp-header" ng-if="!inline">
                                <div class="dtp-actual-day">{{actualDay}}</div>
                                <div class="dtp-close" ng-if="!inline"><a href="javascript:void(0);" ng-click="onCloseClick()"><i class="fa fa-close"></i></div>
                            </div>
                            <div class="dtp-time" ng-show="!showTimeHeader">
                                <div class="dtp-actual-maxtime">
                                    <a class="dtp-hours-minutes-btn" ng-class="{'selected': currentView==1}" ng-click="initHours()" href="javascript:void(0);">{{actualTime.hours}}</a>:<a class="dtp-hours-minutes-btn" ng-class="{'selected': currentView==2}" ng-click="initMinutes()" href="javascript:void(0);">{{actualTime.minutes}}</a>
                                </div>
                            </div>
                            <div class="dtp-picker">

                                <div class="dtp-picker-datetime" ng-class="{'hidden': !showTime}">
                                    <div class="dtp-actual-meridien">
                                        <div class="dtp-actual-time p60" ng-show="showTimeHeader">
                                            <a class="dtp-hours-minutes-btn" ng-class="{'selected': currentView==1}" ng-click="initHours()" href="javascript:void(0);">{{actualTime.hours}}</a>:<a class="dtp-hours-minutes-btn" ng-class="{'selected': currentView==2}" ng-click="initMinutes()" href="javascript:void(0);">{{actualTime.minutes}}</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="dtp-picker-clock">
                                        <div class="dtp-hand dtp-hour-hand" ng-show="currentView==1"></div>
                                        <div class="dtp-hand dtp-minute-hand" ng-show="currentView==2"></div>
                                        <div class="dtp-clock-center"></div>
                                        <div ng-repeat="hour in hours" class="dtp-picker-time" ng-style="hour.style">
                                            <a href="javascript:void(0);" class="dtp-select-hour" ng-class="{'selected': hour.selected, 'disabled': hour.disabled}" ng-click="onSelectHour(hour)">{{hour.h}}</a>
                                        </div>
                                        <div ng-repeat="minute in minutes" class="dtp-picker-time" ng-style="minute.style">
                                            <a href="javascript:void(0);" class="dtp-select-minute" ng-class="{'selected': minute.selected, 'disabled': minute.disabled}" ng-click="onSelectMinute(minute)">{{minute.m}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>