<div class="nice-date" ng-form="forma">
    <div class="nice-date-date">
        <div class="nice-date-header">
            <i class="fa fa-angle-left" ng-click="previous()" title="{{ translations.prevMonth }}"></i>
            <span title="{{ month.format('MM.YYYY' ) }}">{{ month.format('MMMM, YYYY' ) }}</span>
            <i class="fa fa-angle-right" ng-click="next()" title="{{ translations.nextMonth }}"></i>
        </div>

        <div class="nice-date-week names">
            <span class="nice-date-day" translate>{{ translations.mon }}</span>
            <span class="nice-date-day" translate>{{ translations.tue }}</span>
            <span class="nice-date-day" translate>{{ translations.wed }}</span>
            <span class="nice-date-day" translate>{{ translations.thu }}</span>
            <span class="nice-date-day" translate>{{ translations.fri }}</span>
            <span class="nice-date-day weekend" translate>{{ translations.sat }}</span>
            <span class="nice-date-day weekend" translate>{{ translations.sun }}</span>
        </div>

        <div class="nice-date-week" ng-repeat="week in weeks">
            <span
                class="nice-date-day"
                title="{{ day.date.format('DD.MM.YYYY') }}"
                ng-class="{
                    'today': day.isToday,
                    'different-month': !day.isCurrentMonth,
                    'selected': isSameDay(model, day.date),
                    'weekend': day.isWeekday,
                    'disabled': day.isDisabled,
                    'between': isBetween(day.date, model, nextDate)
                }"
                ng-click="select(day)"
                ng-repeat="day in week.days"
            >{{ day.number }}</span>
        </div>
    </div>


    <div class="nice-date-time" ng-if="time">
        <div class="time-picker time-picker-hour">
            <select
                ng-model="timeData.dateHour"
                ng-change="timeChange(timeData.dateHour, null)"
                ng-options="hour as hour for hour in hours track by hour">
            </select>
        </div>

        <div class="time-picker time-picker-minute">
            <select
                ng-model="timeData.dateMinute"
                ng-change="timeChange(null, timeData.dateMinute)"
                ng-options="minute as minute for minute in minutes track by minute">
            </select>
        </div>
    </div>
</div>