
<div class="nice-datetime-picker nice-datetimerange-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="row">
        <div class="col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <label class="nice">{{ title }}<span ng-if="required">*</span></label>
        </div>

        <div class="col-xs-12" ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimeRangePicker"></div>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown{{randNum}}" role="button" ng-click="openDtpRange()" href="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{value}}" ng-click="openDtpRange()">
                        <span class="input-group-addon"><i class="fa" ng-class="{'fa-clock-o': date=='false', 'fa-calendar': date!='false'}"></i></span>
                    </div>
                </a>
            </div>

            <div class="dtp-range-wrapper" ng-show="showDtpRange">

                <div class="row">
                    <div class="col-xs-2">
                        <a class="btn btn-primary btn-block">Last 24 hours</a>
                        <a class="btn btn-primary btn-block">Last 7 days</a>
                        <a class="btn btn-primary btn-block">Last month</a>
                        <a class="btn btn-primary btn-block">Custom</a>
                    </div>


                    <div class="col-xs-5">
                        <!-- inject nice-dtp here -->
                        <nice-dtp
                            model="dateStart"
                            format="{{format}}"
                            model-format="{{modelFormat}}"
                            date="{{date}}"
                            time="{{time}}"
                            width="{{width}}"
                            enable-ok-buttons="{{enableOkButtons}}"
                            lang="{{lang}}"
                            min-date="{{minDate}}"
                            max-date="{{maxDate}}"
                            week-start="{{weekStart}}"
                            ok-text="{{okText}}"
                            cancel-text="{{cancelText}}"
                            inline="true"
                        ></nice-dtp>
                    </div>
                    <div class="col-xs-5">
                        <!-- inject nice-dtp here -->
                        <nice-dtp
                                model="dateEnd"
                                format="{{format}}"
                                model-format="{{modelFormat}}"
                                date="{{date}}"
                                time="{{time}}"
                                width="{{width}}"
                                enable-ok-buttons="{{enableOkButtons}}"
                                lang="{{lang}}"
                                min-date="{{minDate}}"
                                max-date="{{maxDate}}"
                                week-start="{{weekStart}}"
                                ok-text="{{okText}}"
                                cancel-text="{{cancelText}}"
                                inline="true"
                         > </nice-dtp>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 margin-top-20">
                        <a class="btn btn-primary pull-right" ng-click="okClick()">Ok</a>
                        <a class="btn btn-primary pull-right margin-right-20" ng-click="cancelClick()">Cancel</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>