<div class="nice-comment">
    <div class="row" ng-class="noMarginBottom ? '':'margin-bottom-20'">
        <div ng-show="!editing" ng-class="labelWidth ? labelWidth : 'col-sm-6'">
            <span ng-if="model=='' && !editing"><a ng-click="edit()">{{noTextLabel}} <i class="fa fa-pencil"></i></a></span>
            <span ng-if="model!='' && !editing"><a ng-click="edit()">{{model}} <i class="fa fa-pencil"></i></a></span>
        </div>
        <div ng-show="editing" ng-class="fieldWidth ? fieldWidth : 'col-sm-6'">
            <div class="relative">
                <textarea
                    class="form-control"
                    ng-model="model"
                    title="{{ help }}"
                    placeholder="{{placeholder}}"
                    rows="{{rows}}"
                    ng-blur="save()"
                ></textarea>
                <!--<nice-input  placeholder="{{placeholder}}" model="model" name="{{'This text is placed at the end of the document.'|translate}}" field-width="col-sm-12" text-area></nice-input>-->
                <!--<div class="btn btn-sm btn-success btn-comment-save" ng-click="save()"><i class="fa fa-check"></i></div>-->
                <!--<div class="btn btn-sm btn-danger btn-comment-cancel" ng-click="cancel()"><i class="fa fa-times"></i></div>-->
            </div>
        </div>
    </div>
</div>
