.nice-popup {
  .nice-popup-target {
    display: inline-block;
  }

  .nice-popup-arrow[data-hide] {
    visibility: hidden;
  }

  .nice-popup-arrow,
  .nice-popup-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }

  .nice-popup-arrow::before {
    content: '';
    transform: rotate(45deg);
    background: #ffffff;
    border: 1px solid $nice-border-color;
  }

  .nice-popup-content[data-popper-placement^='top']>.nice-popup-arrow {
    bottom: -4px;
  }

  .nice-popup-content[data-popper-placement^='bottom']>.nice-popup-arrow {
    top: -4px;
  }

  .nice-popup-content[data-popper-placement^='left']>.nice-popup-arrow {
    right: -4px;
  }

  .nice-popup-content[data-popper-placement^='right']>.nice-popup-arrow {
    left: -4px;
  }
}