.nice-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    height: 20px;
    width: 20px;
    min-height: unset;
    border: 1px solid $nice-border-color;
    border-radius: $nice-border-radius-small;
    background: transparent;
    margin: 0;
    padding: 0;
    flex-shrink: 0;

    .check {
      opacity: 0;
      color: white;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .message {
    margin-left: 10px;
    user-select: none;
    color: $nice-font-color;
  }

  &:hover {
    .checkbox {
      border-color: $nice-choice-hover-border;
    }

    .message {
      color: darken($nice-font-color, 15%);
    }
  }

  &.checked {
    .checkbox {
      border-color: var(--nice-primary-color);
      background: var(--nice-primary-color);

      .check {
        opacity: 1;
      }

      .message {
        color: $nice-font-color;
      }
    }

    &:hover {
      .checkbox {
        border-color: $nice-choice-hover-border;
      }
    }
  }

  &.nice-checkbox-disabled {
    cursor: not-allowed;

    &:hover {
      .checkbox {
        border-color: $nice-border-color;
      }

      .message {
        color: $nice-font-color;
      }
    }

    &.checked {
      &:hover {
        .checkbox {
          border-color: $nice-border-color;
        }
      }
    }
  }
}