<div class="nice-component nice-checkbox" ng-class="{ 'nice-checkbox-checked': model, 'margin-bottom-0' : noMargin, 'nice-checkbox-disabled': isDisabled, 'nice-checkbox-left': titleOnLeft }" ng-click="toggle()">
    <button class="btn nice-checkbox-checkbox" type="button" ng-disabled="isDisabled">
        <nice-icon class="nice-checkbox-check" icon="icon-check"></nice-icon>
    </button>
    <div ng-if="title" class="nice-checkbox-message" ng-class="{ 'nice-disabled': isDisabled }">{{ title }}</div>
</div>