nice-checkbox{
  display: inline-block;
}

.nice-checkbox {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .checkbox {
    height: 34px;
    width: 34px;
    border: 1px solid var(--nice-input-border);
    border-radius: var(--nice-border-color-radius-small);
    margin: 0;
    padding: 4px;

    .check{
      opacity: 0;
    }

    .check-stroke {
      stroke: var(--nice-base-color);
      fill: none;
      stroke-width: 4;
      stroke-linecap: round;
    }
  }

  .message {
    margin-left: 15px;
    user-select: none;
    color: var(--nice-font-color);
  }

  &:hover {
    .checkbox {
      border-color: var(--nice-input-border);
    }

    .message {
      color: var(--nice-font-color);
    }
  }

  &.checked {
    .checkbox {
      border-color: var(--nice-input-border);
      background: white;

      .check{
        opacity: 1;
      }

      .message {
        color: var(--nice-font-color);
      }
    }

    &:hover{
      .checkbox {
        border-color: var(--nice-input-border);
      }
    }
  }
}
