.nice-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;

  &.nice-checkbox-left {
    flex-direction: row-reverse;
  }

  .nice-checkbox-checkbox {
    height: 20px;
    width: 20px;
    min-height: unset;
    border: 1px solid $nice-border-color;
    border-radius: $nice-border-radius-small;
    background: transparent;
    margin: 0;
    padding: 0;
    flex-shrink: 0;

    .nice-checkbox-check {
      opacity: 0;
      color: white;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
    }
  }

  .nice-checkbox-message {
    user-select: none;
    color: $nice-font-color;
  }

  &:hover {
    .nice-checkbox-checkbox {
      border-color: $nice-choice-hover-border;
    }

    .nice-checkbox-message {
      color: darken($nice-font-color, 15%);
    }
  }

  &.nice-checkbox-checked {
    .nice-checkbox-checkbox {
      border-color: var(--nice-primary-color);
      background: var(--nice-primary-color);

      .nice-checkbox-check {
        opacity: 1;
      }

      .nice-checkbox-message {
        color: $nice-font-color;
      }
    }

    &:hover {
      .nice-checkbox-checkbox {
        border-color: $nice-choice-hover-border;
      }
    }
  }

  &.nice-checkbox-disabled {
    cursor: not-allowed;

    &:hover {
      .nice-checkbox-checkbox {
        border-color: $nice-border-color;
      }

      .nice-checkbox-message {
        color: $nice-font-color;
      }
    }

    &.nice-checkbox-checked {
      &:hover {
        .nice-checkbox-checkbox {
          border-color: $nice-border-color;
        }
      }
    }
  }
}