<div class="nice-component nice-datetime-picker nice-datetimerange-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline }">
    <div class="nice-dtp-background" ng-click="cancelClick()" ng-if="showDtpRange"></div>

    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title title="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimeRangePicker"></div>

            <div class="dropdown">
                <div class="dropdown-toggle" id="dropdown{{randNum}}" role="button" ng-click="openDtpRange()">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{value}}" ng-disabled="isDisabled" ng-click="openDtpRange()">
                        <span class="input-group-addon clickable">
                            <nice-icon ng-if="date != 'false'" icon="icon-calendar"></nice-icon>
                            <nice-icon ng-if="date == 'false'" icon="icon-clock"></nice-icon>
                        </span>
                    </div>
                </div>
            </div>

            <div class="dtp-range-wrapper" ng-show="showDtpRange">

                <div class="dtp-layer">
                    <div class="dtp-buttons-left">
                        <a class="btn btn-primary btn-block" ng-click="selectLastNDays(1)" translate translate-context="Nice">Last 24 hours</a>
                        <a class="btn btn-primary btn-block" ng-click="selectLastNDays(7)" translate translate-context="Nice">Last 7 days</a>
                        <a class="btn btn-primary btn-block" ng-click="selectLastMonth()" translate translate-context="Nice">Last month</a>
                        <a class="btn btn-primary btn-block" ng-click="selectThisMonth()" translate translate-context="Nice">This month</a>
                    </div>


                    <div class="dtp-left">
                        <!-- inject nice-dtp here -->
                        <nice-dtp model="dateStart" format="{{format}}" model-format="{{modelFormat}}" date="{{date}}" time="{{time}}" width="{{width}}" enable-ok-buttons="{{enableOkButtons}}" lang="{{lang}}" min-date="{{minDate}}" max-date="{{maxDate}}" week-start="{{weekStart}}" ok-text="{{okText}}" cancel-text="{{cancelText}}" inline="true"></nice-dtp>
                    </div>
                    <div class="dtp-right">
                        <!-- inject nice-dtp here -->
                        <nice-dtp model="dateEnd" format="{{format}}" model-format="{{modelFormat}}" date="{{date}}" time="{{time}}" width="{{width}}" enable-ok-buttons="{{enableOkButtons}}" lang="{{lang}}" min-date="{{minDate}}" max-date="{{maxDate}}" week-start="{{weekStart}}" ok-text="{{okText}}" cancel-text="{{cancelText}}" inline="true"></nice-dtp>
                    </div>

                    <div class="dtp-buttons-bottom">
                        <a class="btn btn-danger btn-block margin-right-20" ng-click="cancelClick()" translate translate-context="Nice">Cancel</a>
                        <a class="btn btn-success btn-block" ng-click="okClick()" translate translate-context="Nice">OK</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>