.nice-datetimerange-picker {
  .btn{
    padding-left: 0;
    padding-right: 0;
    border-radius: var(--nice-border-color-radius);
  }

  .form-control{
    min-width: 50px;
    background: var(--nice-input-bg);
    border: 1px solid var(--nice-input-border);

    &:active, &:focus{
      border-color: var(--nice-focus-border);
      -webkit-box-shadow: inset 0 0 0;
      box-shadow: inset 0 0 0;

      .input-group-addon &{
        border-color: var(--nice-focus-border);
      }
    }

    &:disabled {
      background: var(--nice-input-disabled-bg);
      border-color: var(--nice-input-disabled-border);
      opacity: 0.65;
    }
  }

  .dtp-range-wrapper{
    border-radius: var(--nice-border-color-radius);
    box-shadow: var(--nice-box-shadow);
    position: absolute;
    left: 15px;
    top: 40px;
    width: 625px;
    height: 325px;
    padding: 10px;
    background-color: white;
    border: 1px solid var(--nice-border-color);
    z-index: 900;

    .dtp-layer {
      width: 100%;
      height: 100%;
      position: relative;

      .dtp-buttons-bottom, .dtp-buttons-left, .dtp-left, .dtp-right{
        position: absolute;
      }

      .dtp-buttons-left {
        left: 0;
        top: 0;
        width: 100px;
      }

      .dtp-left {
        left: 110px;
        top: 0;
        width: 40%;
        height: 80%;
      }

      .dtp-right {
        left: 360px;
        top: 0;
        width: 40%;
        height: 80%;
      }

      .dtp-buttons-bottom {
        bottom: 0;
        left: 0;
        width: 100px;
      }
    }



    .dtp-content{
      border-radius: var(--nice-border-color-radius);
      box-shadow: 0 0 0 !important;

      .dtp-date-view{
        min-height: 300px;
      }
    }

  }

}