<div class="nice-component nice-datetime-picker nice-datetimerange-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="nice-dtp-background" ng-click="cancelClick()" ng-if="showDtpRange"></div>

    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimeRangePicker"></div>

            <div class="dropdown">
                <a class="dropdown-toggle" id="dropdown{{randNum}}" role="button" ng-click="openDtpRange()" href="javascript:void(0);">
                    <div class="input-group">
                        <input type="text" class="form-control" value="{{value}}" ng-click="openDtpRange()">
                        <span class="input-group-addon"><i class="fa" ng-class="{'fa-clock-o': date=='false', 'fa-calendar': date!='false'}"></i></span>
                    </div>
                </a>
            </div>

            <div class="dtp-range-wrapper" ng-show="showDtpRange">

                <div class="dtp-layer">
                    <div class="dtp-buttons-left">
                        <a class="btn btn-primary btn-block" ng-click="selectLastNDays(1)">Last 24 hours</a>
                        <a class="btn btn-primary btn-block" ng-click="selectLastNDays(7)">Last 7 days</a>
                        <a class="btn btn-primary btn-block" ng-click="selectLastMonth()">Last month</a>
                        <a class="btn btn-primary btn-block" ng-click="selectThisMonth()">This month</a>
                    </div>


                    <div class="dtp-left">
                        <!-- inject nice-dtp here -->
                        <nice-dtp
                            model="dateStart"
                            format="{{format}}"
                            model-format="{{modelFormat}}"
                            date="{{date}}"
                            time="{{time}}"
                            width="{{width}}"
                            enable-ok-buttons="{{enableOkButtons}}"
                            lang="{{lang}}"
                            min-date="{{minDate}}"
                            max-date="{{maxDate}}"
                            week-start="{{weekStart}}"
                            ok-text="{{okText}}"
                            cancel-text="{{cancelText}}"
                            inline="true"
                        ></nice-dtp>
                    </div>
                    <div class="dtp-right">
                        <!-- inject nice-dtp here -->
                        <nice-dtp
                                model="dateEnd"
                                format="{{format}}"
                                model-format="{{modelFormat}}"
                                date="{{date}}"
                                time="{{time}}"
                                width="{{width}}"
                                enable-ok-buttons="{{enableOkButtons}}"
                                lang="{{lang}}"
                                min-date="{{minDate}}"
                                max-date="{{maxDate}}"
                                week-start="{{weekStart}}"
                                ok-text="{{okText}}"
                                cancel-text="{{cancelText}}"
                                inline="true"
                         > </nice-dtp>
                    </div>

                    <div class="dtp-buttons-bottom">
                        <a class="btn btn-danger btn-block margin-right-20" ng-click="cancelClick()">Cancel</a>
                        <a class="btn btn-success btn-block" ng-click="okClick()">OK</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>