<style>
    body{
        background: #eceff1;
    }

    html { font-size: 62.5%; }
    body { font-size: 14px; font-size: 1.4rem; } /* =14px */
    h1   { font-size: 24px; font-size: 2.4rem; } /* =24px */

    .headline{
        text-align:center;
        font-size: 60px;
        margin: 30px;
        margin-top:80px;
    }

    .white-wrapper{
        /*border: 1px solid #ccc;*/
        padding: 25px;
        background: white;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-bottom:25px;
        box-shadow: 0 0 5px #e2e2e2;
    }

    .white-wrapper h2{
        margin: 0 0 25px 0;
    }

    pre{
        margin-bottom: 20px;
    }

</style>



<div ng-controller='HomeCtrl'>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-href="#/home">Nice elements</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-example">
                <ul class="nav navbar-nav">
                    <li><a ng-click="scrollTo('common')" href>Common</a></li>
                    <li><a ng-click="scrollTo('nice-input')" href>Input</a></li>
                    <li><a ng-click="scrollTo('nice-dropdown')" href>Dropdown</a></li>
                    <li><a ng-click="scrollTo('nice-search')" href>Search</a></li>
                    <li><a ng-click="scrollTo('nice-date-time')" href>Date time</a></li>
                    <li><a ng-click="scrollTo('nice-date-range')" href>Date range</a></li>
                    <li><a ng-click="scrollTo('nice-choice')" href>Choice</a></li>
                    <li><a ng-click="scrollTo('nice-yes-no')" href>Yes no</a></li>
                    <li><a ng-click="scrollTo('nice-percent')" href>Percent</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



	<div class="container">
		<h1 class="headline">Nice elements</h1>

        <div class="white-wrapper">
            <div class="row">
                <div class="col-sm-6">
                    <nice-input title="First name" model="data.first" placeholder="Janez" disabled="disabl"></nice-input>
                    <nice-input title="Last name" model="data.last" placeholder="Novak" minlength="2" required=true disabled="disabl"></nice-input>
                    <nice-datetime-picker title="Date of birth" model="data.dateOfBirth" min-view="day" start-view="year" date-time-format="dd.MM.yyyy" disabled="disabl"></nice-datetime-picker>
                    <nice-input title="Bio" model="data.box" text-area="" placeholder="Something very very long" required=true disabled="disabl"></nice-input>
                    <nice-yesno title="Do you like ice cream?" model="data.iceCream" yes="YUSS!" no="No." field-width="col-sm-4" disabled="disabl"></nice-yesno>

                    <nice-choice
                        title="I like"
                        model="data.likes"
                        list="listObjs"
                        multiple="true"
                        disabled="disabl"
                        list-is-obj="true"
                        list="listObjs"
                        obj-value="value"
                        selected-is-obj="true">
                    </nice-choice>
                </div>

                <div class="col-sm-6">
                    {{ data }}
                </div>
                <nice-loader></nice-loader>
            </div>
        </div>



        <div class="white-wrapper" id="common">
            <h2>All have in common</h2>

            <table class="table nice-table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>required</td>
                        <td>when enabled it will effect ng-form</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>field-width</td>
                        <td>sets the width of the input field</td>
                        <td>col-sm-8</td>
                    </tr>
                    <tr>
                        <td>title-width</td>
                        <td>sets the width of the title</td>
                        <td>col-sm-4</td>
                    </tr>
                    <tr>
                        <td>disabled</td>
                        <td>disables the input</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>title</td>
                        <td>sets the label of the field</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>model</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>valid</td>
                        <td>is actually ng-form</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>



        <!-------------------------------- NICE INPUT -------------------------------->
        <div class="white-wrapper" id="nice-input">
            <h2>Nice input</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>type</td>
                        <td>Sets the input field type</td>
                        <td>text</td>
                    </tr>
                    <tr>
                        <td>regex</td>
                        <td></td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>placeholder</td>
                        <td></td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>minlength</td>
                        <td>Sets the max character length</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>maxlength</td>
                        <td>Sets the min character length</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>hideValid</td>
                        <td>Hides valid check symbol</td>
                        <td>true</td>
                    </tr>
                    <tr>
                        <td>showValid</td>
                        <td>wtf</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>textAreaLines</td>
                        <td>Sets text area number of lines</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>textArea</td>
                        <td>Sets input field to text area</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>symbol</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>help</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>minDecimalsCutZeros</td>
                        <td>Use this field to tell how much decimal places must always be, even if number is ceil.</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <pre class="prettyprint lang-html">&lt;nice-input title="Text" model="inputText">&lt;/nice-input></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-input title="Text" model="inputText"></nice-input>
                </div>
                <div class="col-sm-6">
                    <code>{{ inputText }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-input title="Number" model="inputNumber" type="number">&lt;/nice-input></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-input title="Number" model="inputNumber" type="number"></nice-input>
                </div>
                <div class="col-sm-6">
                    <code>{{ inputNumber }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-input title="Email" model="inputEmail" type="email">&lt;/nice-input></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-input title="Email" model="inputEmail" type="email"></nice-input>
                </div>
                <div class="col-sm-6">
                    <code>{{ inputEmail }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-input title="Textarea" model="inputTextArea" text-area="true">&lt;/nice-input></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-input title="Textarea" model="inputTextArea" text-area="true"></nice-input>
                </div>
                <div class="col-sm-6">
                    <code>{{ inputTextArea }}</code>
                </div>
            </div>
        </div>



        <!-------------------------------- NICE DROPDOWN -------------------------------->
        <div class="white-wrapper" id="nice-dropdown">
            <h2>Nice dropdown</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>list</td>
                        <td>List of available options</td>
                        <td>REQUIRED</td>
                    </tr>
                    <tr>
                        <td>addButtonEnable</td>
                        <td>Shows the button nex to the dropdown</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>objValue</td>
                        <td>Used only when returnOnlyKey = true</td>
                        <td>value</td>
                    </tr>
                    <tr>
                        <td>listIsObj</td>
                        <td>True - list has objects, False - list has strings</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>selectedIsObj</td>
                        <td></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>showTax</td>
                        <td></td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>noMargin</td>
                        <td>margin bottom is set to 0px</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>multiple</td>
                        <td>Can select multiple items</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>help</td>
                        <td></td>
                        <td>null</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <pre class="prettyprint">&lt;nice-dropdown
    title="Dropdown"
    model="dropdown"
    list="listObjs"
    obj-value="value"
    list-is-obj="true"
    selected-is-obj="true"
    multiple="true">
&lt;/nice-dropdown></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-dropdown title="Dropdown" model="dropdown" list="listObjs" obj-value="value" list-is-obj="true" selected-is-obj="true" multiple="true"></nice-dropdown>
                </div>
                <div class="col-sm-6">
                    <code>{{ dropdown }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-dropdown
    title="Dropdown"
    model="choiceDemo2"
    list="listObjs"
    obj-value="value"
    list-is-obj="true"
    selected-is-obj="true">
&lt;/nice-dropdown></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-dropdown title="Dropdown" model="choiceDemo2" list="listObjs" obj-value="value" list-is-obj="true" selected-is-obj="true"></nice-dropdown>
                </div>
                <div class="col-sm-6">
                    <code>{{ choiceDemo2 }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-dropdown title="Dropdown" model="choiceDemo4" list="listStrings">&lt;/nice-dropdown></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-dropdown title="Dropdown" model="choiceDemo4" list="listStrings"></nice-dropdown>
                </div>
                <div class="col-sm-6">
                    <code>{{ choiceDemo4 }}</code>
                </div>
            </div>

        </div>


        <!-------------------------------- NICE SEARCH -------------------------------->
        <div class="white-wrapper" id="nice-search">
            <h2>Nice search - TODO</h2>
            <pre class="prettyprint">&lt;nice-search >&lt;/nice-search></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-search
                        refresh-function="getAddresses"
                        model="searchItem"
                        field-width="col-xs-12"
                        placeholder="Search item"
                        key-for-input-label="formatted_address"
                        show-dropdown="true">
                    <div class="row">
                        <div class="col-xs-12">
                            <div ng-if="results.length" class="nice-dropdown">
                                <div ng-repeat="result in results" class="nice-search-row" ng-class="{'active': selectedIndex == $index}" ng-click="selectRow(result)">
                                    <span class="text-bold">{{ result.formatted_address }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    </nice-search>
                </div>
                <div class="col-sm-6">
                    <code>{{ searchItem }}</code>
                </div>
            </div>
        </div>

        <!-------------------------------- NICE DATE TIME -------------------------------->
        <div class="white-wrapper" id="nice-date-time">
            <h2>Nice date time picker</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>startView</td>
                        <td>possible: year, month, day, hour, minute</td>
                        <td>day</td>
                    </tr>
                    <tr>
                        <td>minView</td>
                        <td></td>
                        <td>day</td>
                    </tr>
                    <tr>
                        <td>dateTimeFormat</td>
                        <td>Sets the datetime ouput format</td>
                        <td>dd.MM.yyyy | HH:mm</td>
                    </tr>
                    <tr>
                        <td>hourWithMinutes</td>
                        <td>If the input is 12:00:00</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>utc</td>
                        <td>Enable utc datetime output</td>
                        <td>false</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <pre class="prettyprint">&lt;nice-datetime-picker
  model="dateTimePicker"
  title="Datetime picker"
  utc="true"
  min-view="day"
  start-view="day"
  date-time-format="dd.MM.yyyy">
&lt;/nice-datetime-picker></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-datetime-picker
                      model="dateTimePicker"
                      title="Datetime picker"
                      utc="true"
                      min-view="day" start-view="day"
                      date-time-format="dd.MM.yyyy">
                    </nice-datetime-picker>
                </div>
                <div class="col-sm-6">
                    <code>{{ dateTimePicker }}</code>
                </div>
            </div>
        </div>



        <!-------------------------------- NICE DATE RANGE -------------------------------->
        <div class="white-wrapper" id="nice-date-range">
            <h2>Nice date range - TODO</h2>
            <pre class="prettyprint">&lt;nice-date-range title="Date range" model="rangeDate">&lt;/nice-date-range></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-date-range title="Date range" model="rangeDate"></nice-date-range>
                </div>
                <div class="col-sm-6">
                    <code>{{ rangeDate | json }}</code>
                </div>
            </div>
        </div>



        <!-------------------------------- NICE CHOICE -------------------------------->
        <div class="white-wrapper" id="nice-choice">
            <h2>Nice choice demo</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>list</td>
                        <td>List of objects or strings that are available</td>
                        <td>REQUIRED</td>
                    </tr>
                    <tr>
                        <td>listIsObj</td>
                        <td>List has objects</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>selectedIsObj</td>
                        <td>Return object of the selected</td>
                        <td>false</td>
                    </tr>
                    <tr>
                        <td>objValue</td>
                        <td>Display selected parameter of the object</td>
                        <td>value</td>
                    </tr>
                    <tr>
                        <td>objKey</td>
                        <td>Link objects with this parameter</td>
                        <td>key</td>
                    </tr>
                    <tr>
                        <td>multiple</td>
                        <td>When enabled you can select multiple options</td>
                        <td>false</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <pre class="prettyprint">&lt;nice-choice
    title="I like fruit"
    model="choiceDemo1"
    multiple="true"
    list-is-obj="true"
    list="listObjs"
    obj-value="value"
    selected-is-obj="true">
&lt;/nice-choice></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-choice title="I like fruit" model="choiceDemo1" multiple="true" list-is-obj="true" list="listObjs" obj-value="value" selected-is-obj="true"></nice-choice>
                </div>
                <div class="col-sm-6">
                    <code>{{ choiceDemo1 }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-choice
    title="I like fruit"
    model="choiceDemo2"
    list-is-obj="true"
    list="listObjs"
    obj-value="value"
    selected-is-obj="true">
&lt;/nice-choice></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-choice title="I like fruit" model="choiceDemo2" list-is-obj="true" list="listObjs" obj-value="value" selected-is-obj="true"></nice-choice>
                </div>
                <div class="col-sm-6">
                    <code>{{ choiceDemo2 }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-choice title="I like fruit" model="choiceDemo3" multiple="true" list="listStrings">&lt;/nice-choice></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-choice title="I like fruit" model="choiceDemo3" multiple="true" list="listStrings"></nice-choice>
                </div>
                <div class="col-sm-6">
                    <code>{{ choiceDemo3 }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-choice title="I like fruit" model="choiceDemo4" list="listStrings">&lt;/nice-choice></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-choice title="I like fruit" model="choiceDemo4" list="listStrings"></nice-choice>
                </div>
                <div class="col-sm-6">
                    <code>{{ choiceDemo4 }}</code>
                </div>
            </div>
        </div>



        <!-------------------------------- NICE YES NO -------------------------------->
        <div class="white-wrapper" id="nice-yes-no">
            <h2>Nice yes no</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>yes</td>
                        <td>Set the yes text</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>no</td>
                        <td>Set the no text</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td>options</td>
                        <td>Custom options instead of true/false, format:['yes','no']</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>model-value</td>
                        <td>Gets the custom option instead of true/false</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>defaultFalse</td>
                        <td>sets default value to false</td>
                        <td>false</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <pre class="prettyprint">&lt;nice-yesno yes="Yup" no="Noup" model="yesNoDemo" title="Bloop?">&lt;/nice-yesno></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-yesno yes="Yup" no="Noup" model="yesNoDemo" title="Bloop?"></nice-yesno>
                </div>
                <div class="col-sm-6">
                    <code>{{ yesNoDemo }}</code>
                </div>
            </div>

            <hr>

            <pre class="prettyprint">&lt;nice-yesno
    model="yesNoDemo2"
    yes="Bleerp"
    no="Woorp"
    model-value="yesNoModelDemo"
    options="['PERSON','COMPANY']"
    title="Bloop?">
&lt;/nice-yesno></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-yesno model="yesNoDemo2" yes="Bleerp" no="Woorp" model-value="yesNoModelDemo" options="['PERSON','COMPANY']" title="Bloop?"></nice-yesno>
                </div>
                <div class="col-sm-6">
                    <code>{{ yesNoModelDemo }}</code>
                </div>
            </div>
        </div>





        <!-------------------------------- NICE PERCENT -------------------------------->
        <div class="white-wrapper" id="nice-percent">
            <h2>Nice percent</h2>

            <pre class="prettyprint">&lt;nice-percent title="Percent" model="percentage">&lt;/nice-percent></pre>
            <div class="row">
                <div class="col-sm-6">
                    <nice-percent title="Percent" model="percentage"></nice-percent>
                </div>
                <div class="col-sm-6">
                <div class="col-sm-6">
                    <code>{{ percentage }}</code>
                </div>
            </div>
        </div>


        <script>
            $(function(){
                $('pre').addClass('prettyprint');
                prettyPrint();
            })();
        </script>


	</div> <!-- /container -->
</div>