.nice-comment {
  .btn-comment-save {
    position: absolute;
    right: 20px;
    top: 4px;
  }

  .btn-comment-cancel {
    position: absolute;
    right: 20px;
    top: 40px;
  }

  .form-control[disabled] {
    background: transparent;
  }

  textarea {
    min-height: 34px !important;
    height: 34px;
    box-shadow: 0 0 0;

    &:focus {
      box-shadow: 0 0 0;
      border-color: transparent;
    }

    border-radius: $nice-border-radius;
    border-color: transparent;
    color: $nice-base-color;
    -webkit-user-select: none;
    padding: 6px 0px;

    &.editing {
      padding: 6px 12px;
      color: $nice-font-color;
      -webkit-user-select: initial;
    }
  }
}