.nice-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  color: var(--nice-primary-color);

  svg {
    animation: spin 0.5s infinite;
    animation-delay: 0s;
    width: 40px;
    height: 40px;
    fill: currentColor;
  }

  .nice-loader-message {
    font-size: 0.8em;
    opacity: 0.8;
  }

  &.nice-loader-fulldiv,
  &.nice-loader-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.65);
    z-index: 9999;
    padding: 0;
  }

  &.nice-loader-fulldiv {
    position: absolute;
    z-index: auto;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}