<div class="nice-component nice-yesno" ng-class="{'margin-bottom-0' : noMargin}" ng-form="formYesno">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div ng-class="fieldWidth ? fieldWidth : 'col-sm-8'">
            <div class="yesno-wrapper noselect" ng-class="{ 'disabled': isDisabled }">
                <div class="yesno-yes-bg" ng-click="switch()">{{ yes }}</div>
                <div class="yesno-no-bg" ng-click="switch()">{{ no }}</div>
                <div class="yesno-button" ng-class="buttonClass" ng-click="switch()">{{ state }}</div>
            </div>
        </div>
    </div>
</div>