.nice-button{
  .btn{
    position: relative;

    .opacity0{
      opacity: 0;
    }

    .opacity1{
      opacity: 1;
    }

    .display0{
      display: none;
    }

    .nice-button-loader-wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10px;
      margin-top: -10px;

      .nice-button-loader{
        padding: 0 !important;

        svg{
          width: 20px !important;
          height: 20px !important;
        }

        svg path,
        svg rect{
          fill: white;
        }
      }
    }
  }

}

