.nice-button {
  position: relative;

  .opacity-0 {
    opacity: 0.2;
  }

  .nice-button-loader {
    background: transparent;
    color: white;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}