.nice-tooltip {
  $nice-help-popup-color: #3e3e3e;
  position: relative;
  display: inline-block;
  cursor: help;

  &:hover{
    .nice-tooltip-window {
      display: block;
    }

    &:before {
      display: block;
    }
  }

  // &:before {
  //   content: attr(nice-tooltip) " ";
  //   display: none;
  //   position: absolute;
  //   background: $nice-help-popup-color;
  //   color: white;
  //   max-width: 200px;
  //   width: max-content;
  //   bottom: 100%;
  //   left: 50%;
  //   border-radius: $nice-border-radius;
  //   font-size: 12px;
  //   z-index: 99999;
  //   transform: translate(-50%, -5px);
  //   line-height: 1.3;
  //   padding: 7px 10px;
  //   font-weight: normal;
  //   text-align: center;
  //   text-transform: none;
  // }

  .nice-tooltip-window {
    display: none;
    position: absolute;
    background: $nice-help-popup-color;
    color: white;
    max-width: 200px;
    width: max-content;
    bottom: 100%;
    left: 50%;
    border-radius: $nice-border-radius;
    font-size: 12px;
    z-index: 99999;
    transform: translate(-50%, -5px);
    line-height: 1.3;
    padding: 7px 10px;
    font-weight: normal;
    text-align: center;
    text-transform: none;

    &:before {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      bottom: -3px;
      left: 50%;
      margin-left: -5px;

      border-bottom: 0px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 3px solid $nice-help-popup-color;
    }
  }
}