body {
  background: #f7fcfc;
  display: flex;
}

html,
body {
  font-size: 14px;
}

.d-flex {
  display: flex;
  gap: 1rem;
}

.alert-primary {
  background: var(--nice-primary-color);
}

.version {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.row-title {
  flex-grow: 1;
}

.row-value {
  flex-shrink: 0;
}

.main-view {
  overflow: auto;
  height: 100vh;
  flex-grow: 1;
  padding: 2rem;
}

@media (max-width: 767px) {
  .main-view {
    padding: 2rem 0;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 2rem;
  color: #3189ff;
  font-weight: bold;
}

h5 {
  margin: 0;
  margin-bottom: 1rem;
  color: #3189ff;
  font-weight: bold;
  font-size: 1.3em;
}

.white-wrapper {
  border: 1px solid #cbd4d9;
  padding: 2rem;
  background: white;
  border-radius: 3px;
  margin-bottom: 2rem;
}

.white-wrapper h2 {
  margin: 0 0 25px 0;
}

.navbar-default {
  background: #3189ff;
  color: white;
}

.navbar-default .navbar-brand {
  color: white;
  background: #187aff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: white;
  background: #187aff;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

pre {
  margin-bottom: 20px;
}

.nice-notification {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.nice-notification:last-child {
  margin-bottom: 0;
}

.nice-icon-large svg {
  height: 50px;
  width: 50px;
}

.person-row img {
  height: 30px;
  border-radius: 50%;
  margin-right: 1rem;
}

.icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  border: 0 none;
  overflow: hidden;
}

.icon:hover {
  color: #187aff;
}

.icon.active,
.icon:focus {
  color: #3189ff !important;
  background: transparent !important;
  box-shadow: 0 0 0;
}

.overflow-hidden {
  overflow: hidden;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.p-2 {
  padding: 2rem;
}

.w-300 {
  width: 300px;
}

.w-0 {
  width: 0%;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: var(--nice-primary-color);
  color: white;
  border-right: 1px solid var(--nice-border-color);
  overflow: auto;
  box-shadow: 0 0 20px #00000012;
  flex-shrink: 0;
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 100;
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.2);
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar.open .sidebar-handle {
    left: 249px;
  }

  .sidebar-handle {
    position: fixed !important;
    left: 0;
    top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.sidebar .logo {
  text-align: center;
  margin: 1rem;
  display: block;
}

.sidebar .logo img {
  width: 150px;
}

.sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.sidebar ul li a {
  font-size: 1em;
  display: block;
  padding: 0.8rem 1rem;
  color: white;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus {
  text-decoration: none;
  color: white;
  background: var(--nice-primary-color-darker);
}

.sidebar ul li.active a {
  background: white;
  color: var(--nice-primary-color);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: 0 0 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--nice-primary-color-darker);
}