.nice-date-input {
  .nice-field {
    display: flex;
    gap: 1rem;

    .input-group {
      display: flex;

      .form-control {
        border-right: 0 none;
      }

      .form-control {
        z-index: unset;
        padding-right: 0;
      }

      &.nice-date-input {
        flex-grow: 1;

        .nice-popup-content {
          .nice-date-date {
            width: 250px;
          }
        }
      }

      &.nice-time-input {
        width: 100px;
        flex-shrink: 0;
      }

      .nice-popup-target {
        display: flex;
      }

      .nice-popup-content {
        z-index: 10;
      }

      .nice-date {
        width: 250px;
      }
    }
  }
}