<div class="nice-component nice-date-input" ng-form="niceDateInputForm" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline, 'error': niceDateInputForm.$invalid }">
    <div class="row">
        <!------------------------- Title ------------------------->
        <nice-title text="title" help="help" required="required" label-width="labelWidth"></nice-title>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <div class="input-group nice-date-input" ng-show="date" ng-class="{ 'has-warning': !disabled && niceDateInputForm.$invalid && niceDateInputForm.$dirty }">
                <input type="text" class="form-control" ng-model="modelDate" ng-blur="dateBlur($event)" ng-disabled="isDisabled">
                <nice-popup placement="bottom">
                    <nice-popup-target>
                        <button class="input-group-addon btn btn-default" type="button" tabindex="-1">
                            <nice-icon icon="icon-calendar"></nice-icon>
                        </button>
                    </nice-popup-target>

                    <nice-popup-content>
                        <nice-date is-inline="true" inline="true" model="inner.dateModel" on-change="dateChanged()" no-margin="true"></nice-date>
                    </nice-popup-content>
                </nice-popup>
            </div>
            <div class="input-group nice-time-input" ng-show="time" ng-class="{ 'has-warning': !disabled && niceDateInputForm.$invalid && niceDateInputForm.$dirty }">
                <input type="text" class="form-control" ng-model="modelTime" ng-blur="timeBlur($event)" ng-disabled="isDisabled">
                <nice-popup placement="bottom">
                    <nice-popup-target>
                        <button class="input-group-addon btn btn-default" type="button" tabindex="-1">
                            <nice-icon icon="icon-clock"></nice-icon>
                        </button>
                    </nice-popup-target>

                    <nice-popup-content>
                        <nice-date is-inline="true" inline="true" model="inner.timeModel" on-change="timeChanged()" time="true" date="false" no-margin="true"></nice-date>
                    </nice-popup-content>
                </nice-popup>
            </div>
        </div>
    </div>
</div>