.nice-calendar {
  display: block;

  .nice-selected-dates {
    padding: 0 10px 5px 10px;
    display: flex;

    .nice-start-date,
    .nice-end-date {
      width: 50%;
      color: $nice-font-color;
      transition: all 0.3s ease;

      label {
        font-size: 9px;
        font-weight: normal;
        margin: 0;
        line-height: 1;
      }
    }

    .nice-end-date {
      text-align: right;
    }
  }

  .nice-calendar-weeks {
    border-bottom: 1px solid $nice-border-color;
  }


  .nice-calendar-time {
    display: flex;

    .no-border-right {
      .time-picker-minute {
        border-right: 0;
      }
    }

    .time-picker {
      position: relative;
      width: 20%;
      height: 30px;

      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 4px 0 4px;
        margin-top: -2px;
        border-color: $nice-border-color transparent transparent transparent;
        z-index: 3;
      }
    }

    .time-picker-hour,
    .time-picker-minute {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0px;
      border: 1px solid $nice-border-color;
      border-top: 0;
      border-left: 0;
      padding: 5px 10px;
      z-index: 2;
      background: transparent;
      cursor: pointer;
      position: relative;
      font-size: 14px;
      height: 30px;
    }

    .time-picket-icon {
      border-right: 1px solid $nice-border-color;
      width: 20%;
      float: left;
      font-size: 14px;
      text-align: center;
      line-height: 30px;
      color: $nice-font-color;
      border-bottom: 1px solid $nice-border-color;
      height: 30px;
    }
  }


  .nice-calendar-wrapper {
    border-radius: $nice-border-radius;
    display: block;
    background: white;
    width: 100%;
    border: solid 1px $nice-border-color;

    $day-width: 14.28571%;
    $day-height: 25px;
    $spacing: 10px;
    $icon-width: 40px;
    $header-height: 40px;

    .header {
      float: left;
      width: 100%;
      background: $nice-base-color;
      height: $header-height;
      line-height: $header-height;
      color: white;
      display: flex;

      button {
        width: $icon-width;
        font-size: 1.2em;
        font-weight: bold;
        position: relative;
        line-height: 40px;
        padding: 0 $spacing;
        flex-shrink: 0;
        color: white;
        background: transparent;

        &.fa-angle-left {
          text-align: left;
        }

        &.fa-angle-right {
          text-align: right;
          margin-left: $icon-width*-1;
        }
      }

      span {
        flex-grow: 1;
        text-transform: uppercase;
        text-align: center;
        color: inherit;
      }
    }

    .week {
      display: flex;
      width: 100%;
      border-top: solid 1px $nice-border-color;

      &:first-child {
        border-top: none;
      }

      .day {
        position: relative;
        width: $day-width;
        height: $day-height;
        line-height: $day-height;
        box-shadow: 0 0 0;
        border: 0 none;
        border-left: solid 1px $nice-border-color;
        font-size: 12px;
        text-align: center;
        background: white;
        color: $nice-font-color;


        &:first-child {
          border-left: none;
        }

        &.today:before {
          content: " ";
          position: absolute;
          top: 0;
          right: 0;
          height: 10px;
          width: 10px;
          border-style: solid;
          border-width: 0 10px 10px 0;
          border-color: transparent $nice-base-color transparent transparent;
        }

        &.different-month {
          color: #C0C0C0;
        }

        &.weekend {
          background: #fafafa;
        }

        &.disabled {
          opacity: 0.3;
          color: $nice-danger-color;
          cursor: not-allowed;
        }

        &.selected {
          background: lighten($nice-base-color, 30%);
        }

        &.start-selected {
          background: $nice-base-color;
          color: white;
          border-bottom-left-radius: 10px;
          border-top-left-radius: 10px;
        }

        &.end-selected {
          background: $nice-base-color;
          color: white;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
        }

        &.selecting-start {
          &:hover {
            background: lighten($nice-base-color, 3%);
            color: white;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
          }
        }

        &.selecting-end {
          &:hover {
            background: darken($nice-base-color, 10%);
            color: white;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        .popup {
          position: relative;
          bottom: 45px;
          left: 0;
          background: #8f8f8f;
          color: white;
          z-index: 1000;
          line-height: 12px;
          font-size: 10px;
          text-align: left;
          padding: 2px 8px;
          display: none;
          white-space: nowrap;
          width: fit-content;
        }

        &:hover {
          .popup {
            display: block;
          }
        }
      }

      &.names>span {
        color: darken($nice-base-color, 10%);
        line-height: 20px;
        height: 20px;
        cursor: default;
      }
    }
  }

  .change {
    color: $nice-base-color;
  }

  .disabled-shield {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
  }
}