<div class="nice-component nice-calendar" ng-form="formCalendar" ng-class="{ 'margin-bottom-0': noMargin, 'nice-component-inline': isInline }">
    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <div class="disabled-shield" ng-if="isDisabled"></div>

            <div class="nice-calendar-wrapper">
                <div class="nice-calendar-weeks">
                    <div class="header">
                        <button class="btn" ng-click="previous()" title="{{ 'Previous month' | translate:'Nice' }}"><i class="fa fa-angle-left"></i></button>
                        <span title="{{ month.format('M.YYYY' )}}">{{ month.format("MMMM, YYYY" )}}</span>
                        <button class="btn" ng-click="next()" title="{{ 'Next month' | translate:'Nice' }}"><i class="fa fa-angle-right"></i></button>
                    </div>

                    <div class="week names">
                        <span class="day" translate translate-context="Nice">Mon</span>
                        <span class="day" translate translate-context="Nice">Tue</span>
                        <span class="day" translate translate-context="Nice">Wed</span>
                        <span class="day" translate translate-context="Nice">Thu</span>
                        <span class="day" translate translate-context="Nice">Fri</span>
                        <span class="day weekend" translate translate-context="Nice">Sat</span>
                        <span class="day weekend" translate translate-context="Nice">Sun</span>
                    </div>

                    <div class="week" ng-repeat="week in weeks">
                        <button class="day" title="{{ day.date.format('D.M.YYYY') }}" ng-class="{
                                today: day.isToday,
                                'different-month': !day.isCurrentMonth,
                                'start-selected': isSameDay(day.date, startDate),
                                'end-selected': isSameDay(day.date, endDate),
                                'selected': isBetweenRange(day.date),
                                'selecting-start': selectStart,
                                'selecting-end': !selectStart,
                                'weekend': day.isWeekday,
                                'disabled': day.isDisabled
                            }" ng-style="
                                (color && isBetweenRange(day.date)) && {'background-color': lighten(color) } ||
                                (color && isSameDay(day.date, startDate)) && {'background-color': color } ||
                                (color && isSameDay(day.date, endDate)) && {'background-color': color }
                            " ng-click="select(day)" ng-repeat="day in week.days">
                            {{ day.number }}
                            <p class="popup" ng-if="!hideHover">{{ popupText }}</p>
                        </button>
                    </div>
                </div>


                <div class="nice-calendar-time" ng-if="time">
                    <div class="time-picker">
                        <select title="{{ 'Select start time' | translate:'Nice' }}" class="time-picker-hour" ng-model="startDateHour" ng-change="startHourChange(startDateHour)" ng-options="hour for hour in hours">
                        </select>
                    </div>

                    <div class="time-picker">
                        <select title="{{ 'Select start time' | translate:'Nice' }}" class="time-picker-minute" ng-model="startDateMinute" ng-change="startMinuteChange(startDateMinute)" ng-options="minute for minute in minutes">
                        </select>
                    </div>

                    <div class="time-picker-icon">
                        <!-- <i class="fa fa-clock-o"></i> -->
                        <nice-icon icon="icon-clock"></nice-icon>
                    </div>

                    <div class="time-picker">
                        <select title="{{ 'Select end time' | translate:'Nice' }}" class="time-picker-hour" ng-model="endDateHour" ng-change="endHourChange(endDateHour)" ng-options="hour for hour in hours">
                        </select>
                    </div>

                    <div class="time-picker no-border-right">
                        <select title="{{ 'Select end time' | translate:'Nice' }}" class="time-picker-minute" ng-model="endDateMinute" ng-change="endMinuteChange(endDateMinute)" ng-options="minute for minute in minutes">
                        </select>
                    </div>
                </div>

                <div class="nice-selected-dates">
                    <div class="nice-start-date">
                        <label translate translate-context="Nice">Start</label>
                        <div ng-class="startTimeClass">{{ formatDate(startDate) }}</div>
                    </div>
                    <div class="nice-end-date">
                        <label translate translate-context="Nice">End</label>
                        <div ng-class="endTimeClass">{{ formatDate(endDate) }}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>