<div class="nice-component nice-datetime-picker" name="form" ng-class="{ 'margin-bottom-0': noMargin }">
    <div class="nice-dtp-background" ng-click="closeDtp(true)" ng-if="isOpen"></div>

    <div class="row">
        <!------------------------- Label ------------------------->
        <div class="nice-title col-xs-12" ng-class="labelWidth ? labelWidth : 'col-sm-4'" ng-if="title">
            <div class="nice-title-text">{{ title }}<span ng-if="required">*</span></div>
            <nice-help class="nice-title-help" ng-if="help" text="{{ help }}"></nice-help>
        </div>

        <!------------------------- Field ------------------------->
        <div class="nice-field col-xs-12" ng-class="[fieldWidth ? fieldWidth : 'col-sm-8', { 'nice-disabled': isDisabled }]">
            <!--Needed for intercepting form changes ($dirty)!-->
            <div ng-form="formDatetimePicker"></div>

            <div class="input-group" id="dropdown{{randNum}}">
                <input type="text" class="form-control" value="{{ value }}" ng-click="openDtp()" ng-disabled="isDisabled">
                <span class="input-group-addon clickable" ng-click="openDtp()">
                    <i class="fa" ng-class="date == 'true' ? 'fa-calendar' : 'fa-clock-o'"></i>
                </span>
            </div>

            <!-- inject nice-dtp here -->
            <div ng-show="isOpen">
                <nice-dtp
                    model="internalDate"
                    format="{{ format }}"
                    model-format="{{ modelFormat }}"
                    date="{{ date == 'true' }}"
                    time="{{ time == 'true' }}"
                    width="{{ width }}"
                    enable-ok-buttons="{{ enableOkButtons }}"
                    lang="{{ lang }}"
                    min-date="{{ minDate }}"
                    max-date="{{ maxDate }}"
                    week-start="{{ weekStart }}"
                    ok-text="{{ okText }}"
                    cancel-text="{{ cancelText }}"
                    closed="closeDtp"
                ></nice-dtp>
            </div>
        </div>
    </div>
</div>

