.nice-help{
  position: relative;
  display: inline-block;

  i{
    font-size: 14px;
    cursor: pointer;
  }

  &:hover{
    .help-window{
      display: block;
    }
  }

  .help-window{
    display: none;
    position: absolute;
    background: var(--nice-base-color);
    color: white;
    padding: 10px;
    max-width: 200px;
    width: max-content;
    bottom: 20px;
    left: 50%;
    border-radius: var(--nice-border-color-radius);
    font-size: 12px;
    z-index: 99999;
    transform: translate(-50%,0);
    line-height: 1.2;
    font-weight: normal;
    text-align: center;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 5px 10px;
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin-left: -10px;

      border-bottom: 0px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 5px solid var(--nice-base-color);
    }
  }
}
