.nice-help{
  position: relative;
  display: inline-block;

  i{
    font-size: 14px;
    cursor: pointer;
  }

  &:hover{
    .help-window{
      display: block;
    }
  }

  .help-window{
    display: none;
    position: absolute;
    background: $nice-font-color;
    color: white;
    padding: 10px;
    max-width: 200px;
    width: max-content;
    top: 30px;
    left: 50%;
    border-radius: $nice-border-radius;
    font-size: 12px;
    z-index: 99999;
    transform: translate(-50%,0);
    line-height: 1.2;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 5px 10px;
      border-color: transparent transparent $nice-font-color transparent;
      position: absolute;
      top: -5px;
      left: 50%;
      margin-left: -10px;
    }
  }
}
