.nice-help {
  $nice-help-popup-color: #3e3e3e;
  position: relative;
  display: inline-block;

  i {
    font-size: 14px;
    cursor: help;
  }

  svg {
    height: 14px;
    width: 14px;
    cursor: help;
    display: block;
  }

  &:hover {
    .nice-help-popup {
      display: block;
    }
  }

  .nice-help-popup {
    display: none;
    z-index: 9999;
    background: $nice-help-popup-color;
    color: white;
    max-width: 200px;
    width: max-content;
    border-radius: $nice-border-radius;
    font-size: 12px;
    line-height: 1.3;
    padding: 7px 10px;
    font-weight: normal;
    text-align: center;

    a {
      color: $nice-base-color;
      text-transform: none;
    }

    .nice-help-arrow,
    .nice-help-arrow::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
    }

    .nice-help-arrow {
      visibility: hidden;
    }

    .nice-help-arrow::before {
      visibility: visible;
      content: "";
      transform: rotate(45deg);
    }

    &[data-popper-placement^="top"]>.nice-help-arrow {
      bottom: -2px;
      margin-left: -4px;
    }

    &[data-popper-placement^="bottom"]>.nice-help-arrow {
      top: -2px;
      margin-left: -4px;
    }

    &[data-popper-placement^="left"]>.nice-help-arrow {
      right: 1px;
    }

    &[data-popper-placement^="right"]>.nice-help-arrow {
      left: -6px;
    }
  }
}