<div ng-controller='ExampleCtrl'>
    <h1>Nice notification</h1>

    <div class="white-wrapper">
        <div class="nice-notification">
            <button class="btn btn-primary" ng-click="primary()">Primary Notification</button>
            <button class="btn btn-primary" ng-click="primaryTitle()">Primary Notification</button>
        </div>

        <div class="nice-notification">
            <button class="btn btn-success" ng-click="success()">Success Notification</button>
            <button class="btn btn-success" ng-click="successTime()">Success Notification 20s</button>
            <button class="btn btn-success" ng-click="successHtml()">Success Notification</button>
        </div>

        <div class="nice-notification">
            <button class="btn btn-danger" ng-click="error()">Error Notification</button>
            <button class="btn btn-danger" ng-click="errorTime()">Error Notification 1s</button>
            <button class="btn btn-danger" ng-click="errorHtml()">Error Notification</button>
        </div>

        <div class="nice-notification">
            <button class="btn btn-info" ng-click="info()">Information Notification</button>
        </div>

        <div class="nice-notification">
            <button class="btn btn-warning" ng-click="warning()">Warning Notification</button>
        </div>
    </div>
</div>