<div ng-controller='ExampleCtrl'>
    <h1>Nice icon</h1>

    <div class="white-wrapper" id="nice-icon">
        <pre class="prettyprint">&lt;nice-icon icon="{{ selectedIcon }}">&lt;/nice-icon></pre>

        <nice-icon class="nice-icon-large" icon="{{ selectedIcon }}"></nice-icon>

        <hr />

        <h4>Icons ({{ icons.length }})</h4>

        <nice-search2 model="filters.search" class="mb-1"></nice-search2>

        <div class="icons">
            <div class="icon" ng-repeat="icon in icons | filter:filters.search" ng-class="{ 'active': selectedIcon == icon }" ng-click="selectIcon(icon)">
                <nice-icon icon="{{ icon }}"></nice-icon>
                <span>{{ icon }}</span>
            </div>
        </div>
    </div>
</div>