<div ng-controller='ExampleCtrl'>
    <h1>Nice button</h1>

    <div class="white-wrapper" id="nice-button">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Description</th>
                        <th>Default</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>nice-click</td>
                        <td>Set promisified function</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>add-class</td>
                        <td>Add class to inner button</td>
                        <td>null</td>
                    </tr>
                    <tr>
                        <td>nice-disable</td>
                        <td>Disable / Enable button</td>
                        <td>null</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <pre class="prettyprint">&lt;nice-button nice-click="doSomethingLong()" add-class="btn-block"&gt;&lt;/nice-button></pre>

        <div class="row">
            <div class="col-sm-6">
                <nice-button nice-click="doSomethingLong()" add-class="btn-block">This is a test button</nice-button>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-6">
                    <code>{{ niceButton }}</code>
                </div>
            </div>
        </div>

        <hr />

        <h5>Normal</h5>
        <div class="primary mb-3">
            <div class="d-flex mb-3">
                <button class="btn btn-sm btn-primary" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-sm btn-default" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-sm btn-success" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-sm btn-danger" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-sm btn-warning" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-sm btn-info" ng-click="copyClass($event)">Info</button>
            </div>

            <div class="d-flex mb-3">
                <button class="btn btn-primary" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-default" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-success" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-danger" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-warning" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-info" ng-click="copyClass($event)">Info</button>
            </div>

            <div class="d-flex mb-3">
                <button class="btn btn-lg btn-primary" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-lg btn-default" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-lg btn-success" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-lg btn-danger" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-lg btn-warning" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-lg btn-info" ng-click="copyClass($event)">Info</button>
            </div>
        </div>

        <h5>Plain</h5>
        <div class="plain mb-3">
            <div class="d-flex mb-3">
                <button class="btn btn-sm btn-primary-plain" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-sm btn-default-plain" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-sm btn-success-plain" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-sm btn-danger-plain" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-sm btn-warning-plain" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-sm btn-info-plain" ng-click="copyClass($event)">Info</button>
            </div>

            <div class="d-flex mb-3">
                <button class="btn btn-primary-plain" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-default-plain" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-success-plain" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-danger-plain" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-warning-plain" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-info-plain" ng-click="copyClass($event)">Info</button>
            </div>

            <div class="d-flex mb-3">
                <button class="btn btn-lg btn-primary-plain" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-lg btn-default-plain" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-lg btn-success-plain" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-lg btn-danger-plain" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-lg btn-warning-plain" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-lg btn-info-plain" ng-click="copyClass($event)">Info</button>
            </div>
        </div>

        <h5>Naked</h5>
        <div class="naked mb-3">
            <div class="d-flex mb-3">
                <button class="btn btn-sm btn-primary-naked" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-sm btn-default-naked" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-sm btn-success-naked" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-sm btn-danger-naked" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-sm btn-warning-naked" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-sm btn-info-naked" ng-click="copyClass($event)">Info</button>
            </div>

            <div class="d-flex mb-3">
                <button class="btn btn-primary-naked" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-default-naked" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-success-naked" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-danger-naked" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-warning-naked" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-info-naked" ng-click="copyClass($event)">Info</button>
            </div>

            <div class="d-flex mb-3">
                <button class="btn btn-lg btn-primary-naked" ng-click="copyClass($event)">
                    <nice-icon icon="icon-heart"></nice-icon>
                    <span>Primary</span>
                </button>
                <button class="btn btn-lg btn-default-naked" ng-click="copyClass($event)">
                    <span>Default</span>
                    <nice-icon icon="icon-heart"></nice-icon>
                </button>
                <button class="btn btn-lg btn-success-naked" ng-click="copyClass($event)">Success</button>
                <button class="btn btn-lg btn-danger-naked" ng-click="copyClass($event)">Danger</button>
                <button class="btn btn-lg btn-warning-naked" ng-click="copyClass($event)">Warning</button>
                <button class="btn btn-lg btn-info-naked" ng-click="copyClass($event)">Info</button>
            </div>
        </div>
    </div>
</div>