.nice-datetimerange-picker-2 {
  display: block;

  .input-group {
    .form-control {
      cursor: pointer;
      text-overflow: ellipsis;
    }

    &.open {

      .form-control,
      .input-group-addon {
        border-color: $nice-base-color;
      }

      .input-group-addon {
        background-color: $nice-base-color;
        color: white;
      }
    }
  }

  .nice-daterange-picker-wrapper {
    z-index: 900;
    width: 700px;
    max-width: 80%;
  }

  .dtp-wrapper {
    border-radius: $nice-border-radius;
    box-shadow: $nice-box-shadow;

    padding: 15px;
    background-color: white;
    border: 1px solid $nice-border-color;
    display: flex;

    .dtp-buttons-left {
      width: 110px;
      display: flex;
      flex-direction: column;

      .dtp-buttons-top {
        flex-grow: 1;
      }

      .dtp-buttons-bottom {
        margin-top: 5px;
      }
    }

    .dtp-left,
    .dtp-right {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 15px;
      width: 50%;
    }
  }


  .nice-dtp-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 800;
    height: 100%;
  }

  .btn {
    border-radius: $nice-border-radius;
  }

  .btn-primary {
    background: $nice-base-color;
    border-color: darken($nice-base-color, 5%);

    &:hover {
      background: darken($nice-base-color, 5%);
      border-color: darken($nice-base-color, 5%);
    }

    &:active {
      background: darken($nice-base-color, 10%);
      border-color: darken($nice-base-color, 10%);
    }
  }


  @media (max-width: $screen-xs-max) {
    .dtp-wrapper {
      width: auto;
      flex-direction: column;

      .dtp-left {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .dtp-left,
      .dtp-right {
        margin-left: 0;
        width: 100%;
      }
    }

    .btn-primary {
      padding: 5px;
      line-height: 1;
      font-size: 12px;
      min-width: 300px;
    }
  }
}